<div class="page-header page-header-light">
  <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
    <div class="d-flex">
      <div class="breadcrumb-title">Danh sách đặt phòng</div>
    </div>
    <div class="breadcrumb">
      <div class="list-control-main">
        <button nz-button type="button" class="btn btn-primary" (click)="hanldeOpenBooking()">
          <i class="isax-add-circle1 mr-2"></i>Đặt phòng
        </button>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="header-elements-inline">
    <div class="navbar-expand-md w-100">
      <div class="navbar-collapse collapse" id="search-list"></div>
    </div>
  </div>

  <div class="hearder-table mt-m-15">
    <nz-tabset>
      <!-- <nz-tab nzTitle="Tất cả"></nz-tab> -->
      <!-- <nz-tab nzTitle="Nhận phòng hôm nay"></nz-tab>
      <nz-tab nzTitle="Quá giờ nhận"> </nz-tab> -->
    </nz-tabset>
    <div class="lst-controls d-flex justify-content-between">
      <app-filter></app-filter>
      <!-- <button *ngIf="0 === 0" type="button" class="loc-nang-cao btn btn-default ml-1">
        <span nz-icon nzType="filter" nzTheme="outline"></span> Lọc nâng cao
      </button> -->
    </div>
    <!-- <nz-tabset
      [(nzSelectedIndex)]="selectedIndex"
      (nzSelectedIndexChange)="onTabChange($event)"
    >
      <nz-tab nzTitle="Tất cả"></nz-tab>
      <nz-tab nzTitle="Nhận phòng hôm nay"></nz-tab>
      <nz-tab nzTitle="Quá giờ nhận"> </nz-tab>
    </nz-tabset>
    <div class="lst-controls d-flex justify-content-between">
      <app-filter
        [filters]="qFilters"
        [params]="params"
        (search)="getData($event)"
      ></app-filter>
      <button
        *ngIf="selectedIndex === 0"
        type="button"
        class="loc-nang-cao btn btn-default ml-1"
        (click)="openFilter()"
      >
        <span nz-icon nzType="filter" nzTheme="outline"></span> Lọc nâng cao
      </button>
    </div> -->

    <div class="ux-pc">
      <app-table [columns]="columns" [items]="items" [loading]="loading" [showIndex]="true">
        <ng-template [appCellTemplate]="'status'" let-item>
          {{item.status | labelValue: listStatus}}
        </ng-template>

        <ng-template [appCellTemplate]="'action'" let-item>
          <div class="list-icons list-icons-extended text-center">
            <a class="list-icons-item action-edit" (click)="showContractDetailModal(item)">
              <i nz-tooltip nzTooltipTitle="Nhận phòng" nz-icon nzType="login" nzTheme="outline"></i>
            </a>
            <a *ngIf="item.status === 1" class="list-icons-item action-delete" (click)="handleDeleteBooking(item)">
              <span nz-tooltip nzTooltipTitle="Hủy đặt phòng" class="isax-trash1"></span>
            </a>
          </div>
        </ng-template>
      </app-table>
      <!-- <app-paging [data]="paging" (onChange)="getData($event)" [temp]="2"></app-paging> -->
    </div>
  </div>
</div>