<ng-container *ngIf="tempType === 1">
  <div class="temp1">
    <nz-table
      [nzData]="[{}]"
      [nzBordered]="false"
      [nzFrontPagination]="false"
      nzSize="small"
    >
      <thead>
        <tr [hidden]="true">
          <th class="action" nzWidth="50px">STT</th>
          <th class="action">Tên file</th>
          <th class="action" nzWidth="180px">Kích thước</th>
          <th class="action" nzWidth="180px">Loại file</th>
          <th class="action" nzWidth="80px" nzRight>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of controlValue; let i = index">
          <td class="pt-1 pb-1">{{ i + 1 }}</td>
          <td class="text-left">
            <a class="data-link">
              {{ item.name }}
            </a>
          </td>
          <td>{{ item.size! / 1024000 | numberFormat }} (mb)</td>
          <td class="text-left">{{ item["data"]?.type }}</td>
          <td nzRight>
            <ng-container *ngIf="!item['isDownload']">
              <a
                class="list-icons-item text-success"
                (click)="clickDownLoadFile(item)"
              >
                <span nz-tooltip nzTooltipTitle="Tải tập tin">
                  <i
                    class="font-weight-bold"
                    nz-icon
                    nzType="download"
                    nzTheme="outline"
                  ></i>
                </span>
              </a>
            </ng-container>
            <ng-container *ngIf="item['isDownload']">
              <a class="list-icons-item text-success">
                <span nz-tooltip nzTooltipTitle="Đang tải tập tin">
                  <i
                    class="font-weight-bold"
                    nz-icon
                    nzType="loading"
                    nzTheme="outline"
                  ></i>
                </span>
              </a>
            </ng-container>
            <a
              class="list-icons-item text-danger ml-2"
              (click)="removeFileOnClick(item)"
              *ngIf="!disabled"
            >
              <span nz-tooltip nzTooltipTitle="Xóa tập tin">
                <i
                  class="font-weight-bold"
                  nz-icon
                  nzType="delete"
                  nzTheme="outline"
                  style="font-size: 18px"
                ></i>
              </span>
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div
      class="text-center text-primary"
      *ngIf="!disabled && this.isallowUpload"
    >
      <i class="-ap upload-icon icon-upload" style="font-size: 25px"></i>
      <div>
        <ng-container *ngIf="!uploading; else phanTram">
          {{ placeholder }}
        </ng-container>
      </div>
      <nz-upload
        class="btn-temp1"
        [ngClass]="{ viewUpLoad: isViewUpLoad }"
        [(nzFileList)]="controlValue"
        [nzBeforeUpload]="beforeUpload"
        [nzMultiple]="true"
        (nzFileListChange)="changeFile()"
        [nzRemove]="removeFile"
      >
        <button
          type="button"
          nz-button
          class="btn-upload"
          *ngIf="this.isallowUpload && isLoadDone"
        >
          {{ placeholder }}
        </button>
      </nz-upload>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="tempType === 2">
  <nz-upload
    class="temp2"
    [ngClass]="{
      'img-none': controlValue.length === 0,
      'border-0': controlValue.length > 0,
      disabled: disabled
    }"
    [(nzFileList)]="controlValue"
    [nzBeforeUpload]="beforeUpload"
    [nzShowButton]="!disabled && controlValue.length < size"
    [nzShowUploadList]="showUploadList"
    nzListType="picture-card"
    [nzPreview]="handlePreview"
    (nzFileListChange)="changeFile()"
    [nzRemove]="removeFile"
  >
    <button
      type="button"
      nz-button
      class="btn-upload"
      *ngIf="this.isallowUpload && isLoadDone"
    >
      <i class="isax-camera1 mr-2"></i>
      <ng-container *ngIf="!uploading; else phanTram">
        {{ placeholder }}
      </ng-container>
    </button>
  </nz-upload>
</ng-container>

<ng-container *ngIf="tempType === 3">
  <div class="temp3">
    <div class="list-data">
      <div class="item-data" *ngFor="let item of controlValue; let i = index">
        <div class="item-name">{{ item.name }}</div>
        <div class="item-action">
          <ng-container *ngIf="!item['isDownload']">
            <a
              class="list-icons-item text-success"
              (click)="clickDownLoadFile(item)"
            >
              <span nz-tooltip nzTooltipTitle="Tải tập tin">
                <i
                  class="font-weight-bold"
                  nz-icon
                  nzType="download"
                  nzTheme="outline"
                ></i>
              </span>
            </a>
          </ng-container>
          <ng-container *ngIf="item['isDownload']">
            <a class="list-icons-item text-success">
              <span nz-tooltip nzTooltipTitle="Đang tải tập tin">
                <i
                  class="font-weight-bold"
                  nz-icon
                  nzType="loading"
                  nzTheme="outline"
                ></i>
              </span>
            </a>
          </ng-container>
          <a
            class="list-icons-item text-danger ml-2"
            (click)="removeFileOnClick(item)"
            *ngIf="!disabled"
          >
            <span nz-tooltip nzTooltipTitle="Xóa tập tin">
              <i
                class="font-weight-bold"
                nz-icon
                nzType="delete"
                nzTheme="outline"
                style="font-size: 18px"
              ></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div
      class="text-center text-primary"
      *ngIf="!disabled && this.isallowUpload"
    >
      <i class="-ap upload-icon icon-upload" style="font-size: 25px"></i>
      <div>
        <ng-container *ngIf="!uploading; else phanTram">
          {{ placeholder }}
        </ng-container>
      </div>
      <nz-upload
        class="btn-temp1"
        [ngClass]="{ viewUpLoad: isViewUpLoad }"
        [(nzFileList)]="controlValue"
        [nzBeforeUpload]="beforeUpload"
        [nzMultiple]="true"
        (nzFileListChange)="changeFile()"
        [nzRemove]="removeFile"
      >
        <button
          type="button"
          nz-button
          class="btn-upload"
          *ngIf="this.isallowUpload && isLoadDone"
        >
          {{ placeholder }}
        </button>
      </nz-upload>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="tempType === 4">
  <div class="row mb-1">
    <div class="col-md-12">
      <button
        nz-button
        type="button"
        class="btn btn-primary btn-save float-right"
      >
        <i
          class="font-weight-bold"
          nz-icon
          nzType="plus"
          nzTheme="outline"
          style="font-size: 18px"
        ></i>
        Thêm tập tin
      </button>
    </div>
  </div>
  <nz-table
    [nzData]="[{ id: 0 }]"
    [nzBordered]="true"
    [nzFrontPagination]="false"
    nzSize="small"
    [nzScroll]="{ x: 'scroll', y: 'calc(100vh - 275px)' }"
  >
    <thead>
      <tr>
        <th class="action" nzWidth="50px">STT</th>
        <th class="action">Tên file</th>
        <th class="action" nzWidth="180px">Kích thước</th>
        <th class="action" nzWidth="180px">Người cung cấp</th>
        <th class="action" nzWidth="80px" nzRight>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of controlValue; let i = index">
        <td class="pt-1 pb-1">{{ i + 1 }}</td>
        <td class="text-left">
          <a class="data-link" href="{{ item.url }}">
            {{ item.name }}
          </a>
        </td>
        <td>{{ item.size | numberFormat }} (kb)</td>
        <td class="text-left">Cán bộ 1 test</td>
        <td nzRight>
          <a class="list-icons-item text-success" href="{{ item.url }}">
            <span nz-tooltip nzTooltipTitle="Tải tập tin">
              <i
                class="font-weight-bold"
                nz-icon
                nzType="download"
                nzTheme="outline"
                style="font-size: 18px"
              ></i>
            </span>
          </a>
          <a
            class="list-icons-item text-danger ml-2"
            (click)="removeFile(item)"
          >
            <span nz-tooltip nzTooltipTitle="Xóa tập tin">
              <i
                class="font-weight-bold"
                nz-icon
                nzType="delete"
                nzTheme="outline"
                style="font-size: 18px"
              ></i>
            </span>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>

<ng-container *ngIf="tempType === 5">
  <nz-upload
    class="temp5"
    [ngClass]="{ viewUpLoad: isViewUpLoad }"
    [nzBeforeUpload]="beforeUpload"
    [nzShowButton]="!disabled && controlValue.length < size"
    [nzShowUploadList]="showUploadList"
    [nzMultiple]="true"
    (nzFileListChange)="changeFile()"
  >
    <button
      type="button"
      nz-button
      class="btn-upload"
      *ngIf="this.isallowUpload && isLoadDone"
    >
      <ng-container *ngIf="!uploading; else phanTram">
        {{ placeholder }}
      </ng-container>
    </button>
  </nz-upload>
</ng-container>

<ng-template #phanTram>
  <span>{{ progress }} %</span>
</ng-template>
