<button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="close()">
  <span class="ant-modal-close-x">
    <i nz-icon nzType="close" nzTheme="outline" class="anticon ant-modal-close-icon anticon-close"></i>
  </span>
</button>

<form [formGroup]="myForm">
  <ng-template #controlErrorTpl let-control>
    <app-render-errors [control]="control"></app-render-errors>
  </ng-template>

  <ng-container formGroupName="importNotiStay">
    <div class="row mb-2">
      <div class="col-md-12">
        <nz-spin [nzSpinning]="uploading">
          <nz-upload nzType="drag" [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
            <p class="ant-upload-drag-icon">
              <span nz-icon nzType="inbox"></span>
            </p>
            <p class="ant-upload-text">Kéo thả tệp để tải lên</p>
            <p class="ant-upload-hint">Hỗ trợ file Excel</p>
          </nz-upload>
        </nz-spin>
      </div>
    </div>
  </ng-container>

<nz-tabset>
  <!-- Tab 1: Dữ liệu với status = 1 -->
  <nz-tab nzTitle="Dữ liệu đúng">
    <nz-table [nzData]="listOfData" [nzBordered]="true" [nzFrontPagination]="false" nzSize="small"
      [nzScroll]="{ x: 'scroll', y: 'calc(100vh - 292px)' }">
      <thead>
        <tr>
          <th class="text-center" nzWidth="50px">STT</th>
          <th class="text-center" nzWidth="180px" nzLeft>Họ và tên</th>
          <th class="text-center" nzWidth="100px">Ngày sinh</th>
          <th class="text-center" nzWidth="120px">Giới tính</th>
          <th class="text-center" nzWidth="120px">Loại giấy tờ</th>
          <th class="text-center" nzWidth="120px">Tên giấy tờ</th>
          <th class="text-center" nzWidth="120px">Số giấy tờ</th>
          <th class="text-center" nzWidth="120px">Số điện thoại</th>
          <th class="text-center" nzWidth="120px">Loại cư trú</th>
          <th class="text-center" nzWidth="120px">Tỉnh/TP</th>
          <th class="text-center" nzWidth="120px">Quận/Huyện</th>
          <th class="text-center" nzWidth="120px">Phường/Xã</th>
          <th class="text-center" nzWidth="120px">Địa chỉ chi tiết</th>
          <th class="text-center" nzWidth="120px">Số phòng</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of listOfData; let i = index">
          <tr *ngIf="item.status === 1">
            <td class="text-center">
              {{ i + 1 | numberFormat }}
            </td>
            <td class="text-left" nzLeft>{{ item.fullName | toUpper }}</td>
            <td class="text-left">{{ item.birthdayText }}</td>
            <td class="text-left">{{ item.sexText }}</td>
            <td class="text-left">{{ item.identityTypeText }}</td>
            <td class="text-left">{{ item.identityName }}</td>
            <td class="text-left">{{ item.identityNo }}</td>
            <td class="text-left">{{ item.telephone }}</td>
            <td class="text-left">{{ item.addressTypeText }}</td>
            <td class="text-left">{{ item.province }}</td>
            <td class="text-left">{{ item.district }}</td>
            <td class="text-left">{{ item.ward }}</td>
            <td class="text-left">{{ item.addressDetail }}</td>
            <td class="text-left">{{ item.note }}</td>
          </tr>
        </ng-container>

      </tbody>
    </nz-table>
  </nz-tab>

  <!-- Tab 2: Dữ liệu với status = 2 -->
  <nz-tab nzTitle="Dữ liệu lỗi">
    <nz-table [nzData]="listOfData" [nzBordered]="true" [nzFrontPagination]="false" nzSize="small"
      [nzScroll]="{ x: 'scroll', y: 'calc(100vh - 292px)' }">
      <thead>
        <tr>
          <th class="text-center" nzWidth="50px">STT</th>
          <th class="text-center" nzWidth="180px" nzLeft>Họ và tên</th>
          <th class="text-center" nzWidth="100px">Ngày sinh</th>
          <th class="text-center" nzWidth="120px">Giới tính</th>
          <th class="text-center" nzWidth="120px">Loại giấy tờ</th>
          <th class="text-center" nzWidth="120px">Tên giấy tờ</th>
          <th class="text-center" nzWidth="120px">Số giấy tờ</th>
          <th class="text-center" nzWidth="120px">Số điện thoại</th>
          <th class="text-center" nzWidth="120px">Loại cư trú</th>
          <th class="text-center" nzWidth="120px">Tỉnh/TP</th>
          <th class="text-center" nzWidth="120px">Quận/Huyện</th>
          <th class="text-center" nzWidth="120px">Phường/Xã</th>
          <th class="text-center" nzWidth="120px">Địa chỉ chi tiết</th>
          <th class="text-center" nzWidth="120px">Số phòng</th>
          <th class="text-center" nzWidth="120px">Lý do lỗi</th>

        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of listOfData; let i = index">
          <tr *ngIf="item.status === 2">
            <td class="text-center">
              {{ i + 1 | numberFormat }}
            </td>
            <td class="text-left" nzLeft>{{ item.fullName | toUpper }}</td>
            <td class="text-left">{{ item.birthdayText }}</td>
            <td class="text-left">{{ item.sexText }}</td>
            <td class="text-left">{{ item.identityTypeText }}</td>
            <td class="text-left">{{ item.identityName }}</td>
            <td class="text-left">{{ item.identityNo }}</td>
            <td class="text-left">{{ item.telephone }}</td>
            <td class="text-left">{{ item.addressTypeText }}</td>
            <td class="text-left">{{ item.province }}</td>
            <td class="text-left">{{ item.district }}</td>
            <td class="text-left">{{ item.ward }}</td>
            <td class="text-left">{{ item.addressDetail }}</td>
            <td class="text-left">{{ item.note }}</td>
            <td class="text-left">{{ item.message }}</td>

          </tr>
        </ng-container>

      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>



  <div class="list-control-footer">
    <button nz-button type="button" class="btn btn-default" (click)="close()">
      <i nz-icon nzType="close" nzTheme="outline"></i>Đóng
    </button>

    <button nz-button type="button" class="btn btn-primary" (click)="submit()">
      <i class="isax-card-tick-11 mr-2"></i>Chọn dữ liệu
    </button>
  </div>
</form>
