<p [class]="statusClass">{{ status }}</p>
<p class="title">
  Sử dụng thiết bị quét mã vạch để thực hiện quét mã CCCD trên thẻ CCCD, mã định
  danh điện tử hay mã CCCD trên ứng dụng VNeID của khách
</p>

<p class="mb-3">Các bước thực hiện:</p>

<div class="ux-pc">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-2">
          <div class="circle">1</div>
        </div>
        <div class="col-md-10 pt-1">Cắm thiết bị quét mã vạch vào máy tính</div>
      </div>
      <div class="row mt-3">
        <div class="col-md-2">
          <div class="circle">2</div>
        </div>
        <div class="col-md-10 pt-1">
          Thiết lập cài đặt của thiết bị lần đầu:
          <a
            target="_blank"
            href="{{ baseFile + 'huong-dan-cai-dat-thiet-bi.pdf' }}"
            >xem hướng dẫn</a
          >
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-2">
          <div class="circle">3</div>
        </div>
        <div class="col-md-10 pt-1">
          Cài đặt và khởi động
          <a
            href="https://drive.google.com/drive/folders/170-j6vCHGNgT_eiP6P5vpQp1JCgI0A3j"
            target="_blank"
            >ứng dụng ASM Scanner</a
          >
        </div>
      </div>
      <div class="row mt-3 mb-4">
        <div class="col-md-2">
          <div class="circle">4</div>
        </div>
        <div class="col-md-10 pt-1">Quét mã CCCD hoặc mã định danh điện tử</div>
      </div>
    </div>
    <div class="col-md-4">
      <img src="assets/images/newland.png" alt="newland" />
    </div>
  </div>
</div>

<div class="ux-mobile">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-10 pt-1">
          1: Cắm thiết bị quét mã vạch vào máy tính
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-10 pt-1">
          2: Thiết lập cài đặt của thiết bị lần đầu:
          <a
            target="_blank"
            href="{{ baseFile + 'huong dan cai dat thiet bi.pdf' }}"
            >xem hướng dẫn</a
          >
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-10 pt-1">
          3: Cài đặt và khởi động
          <a
            href="https://drive.google.com/drive/folders/170-j6vCHGNgT_eiP6P5vpQp1JCgI0A3j"
            target="_blank"
            >ứng dụng ASM Scanner</a
          >
        </div>
      </div>
      <div class="row mt-3 mb-4">
        <div class="col-md-10 pt-1">
          4: Quét mã CCCD hoặc mã định danh điện tử
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img src="assets/images/newland.png" alt="newland" />
    </div>
  </div>
</div>
