<form [formGroup]="myForm">
  <div class="title-group">
    <div class="title-label">
      <i class="isax-house-21"></i> Thông tin phòng
    </div>
    <div class="title-control"></div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row mt-2">
        <div class="col-md-6">
          <app-form-control label="Thời gian nhận phòng">
            <input-date-time formControlName="checkInTime"></input-date-time>
          </app-form-control>
        </div>
        <div class="col-md-6">
          <app-form-control label="Thời gian trả phòng">
            <input-date-time formControlName="checkOutTime" (onChange)="onDate()" [min]="now"></input-date-time>
          </app-form-control>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <app-form-control label="Loại phòng">
            <input-select-api [apiService]="roomTypeService" [actionName]="'getCombobox'"
              formControlName="roomTypeId"></input-select-api>
          </app-form-control>
        </div>
        <div class="col-md-3">
          <app-form-control label="Phòng">
            <input-select-api [apiService]="roomService" [actionName]="'getCombobox'"
              formControlName="roomId"></input-select-api>
          </app-form-control>
        </div>

        <div class="col-md-3">
          <app-form-control label="Loại giá">
            <div class="price-type">
              <input-select [items]="prices" [allowClear]="false" formControlName="priceId"></input-select>
              <div class="price-type-info" nz-tooltip [nzTooltipTitle]="priceDetailTemplate">
                <ng-template #priceDetailTemplate>
                  <div style="white-space: pre-line">
                    <p>Giá theo giờ: {{ priceDetail[0].price_per_hour }} / (1 giờ)</p>
                    <p>Giá theo ngày: {{ priceDetail[0].price_per_day }} / (1 ngày)</p>
                    <p>Giá quá giờ: {{ priceDetail[0].price_overtime }} / (1 giờ)</p>
                  </div>
                </ng-template>
                <span nz-icon nzType="info-circle" nzTheme="outline"></span>
              </div>
            </div>
          </app-form-control>
        </div>

        <div class="col-md-3">
          <app-form-control label="Giá phòng">
            <input-number formControlName="totalPrice"></input-number>
          </app-form-control>
        </div>
        <div class="col-md-12">
          <app-form-control label="Ghi chú">
            <input-textarea [rows]="1" formControlName="note"></input-textarea>
          </app-form-control>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card my-2">
        <h1>Tóm tắt hoá đơn</h1>
        <div class="pay-data">
          <div class="pay-item">
            <div class="name">Tổng tiền phòng</div>
            <div class="value">
              {{ this.myForm.get("totalPrice")?.value | moneyFormat }}
            </div>
          </div>
          <div class="pay-item">
            <div class="name">Thuế</div>
            <div class="value">
              {{ this.myForm.get("vat")?.value | moneyFormat }}
            </div>
          </div>
          <div class="pay-item">
            <div class="name">Cần thanh toán</div>
            <div class="value">
              {{ this.myForm.get("finalPrice")?.value | moneyFormat }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">Trả trước</div>
          <div class="col-md-5">
            <app-form-control>
              <input-number formControlName="prepayment" (ngModelChange)="updateInvoice()"></input-number>
            </app-form-control>
          </div>
        </div>
        <div class="return-money">
          <div class="name">Còn lại</div>
          <div class="value">{{ remainingAmount | moneyFormat }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="customer-data">
    <div class="customer-detail">
      <div class="title-group">
        <div class="title-label">
          <i class="isax-house-21"></i> Thông tin khách
        </div>
        <div class="title-control">
          <button *ngIf="residentIndex !== -1" type="button" class="btn btn-default mr-2" (click)="deleteResident()">
            <i class="isax-trash1 mr-2"></i>Xóa khách
          </button>

          <button *ngIf="residentIndex === -1" type="button" class="btn btn-primary mr-2" (click)="handleAddGuest()">
            <i class="isax-add-circle1 mr-2"></i>Thêm khách
          </button>

          <button (click)="resetForm()" nz-button type="button" class="btn btn-default mr-2"
            *ngIf="residentIndex === -1">
            <i class="isax-rotate-left1 mr-2"></i>Làm mới
          </button>

          <button (click)="cancelResident()" nz-button type="button" class="btn btn-default mr-2"
            *ngIf="residentIndex !== -1">
            <i class="isax-rotate-left1 mr-2"></i>Hủy
          </button>

          <button (click)="updateResident()" nz-button type="button" class="btn btn-primary mr-2"
            *ngIf="residentIndex !== -1">
            <i class="isax-import-11 mr-2"></i>Cập nhật
          </button>

          <app-customer-scanner-button #btnScaner (success)="data = $event"
            (successMulti)="scanMulti($event)"></app-customer-scanner-button>
        </div>
      </div>

      <div class="mt-2">
        <app-customer-data [(form)]="resident" [data]="data"></app-customer-data>
      </div>
    </div>
    <div class="customer-list">
      <div class="title-group">
        <div class="title-label">
          <i class="isax-house-21"></i> Danh sách khách
        </div>
      </div>

      <div class="resident-list">
        <div class="resident-item selected" *ngFor="let item of listGuest; let i = index">
          <div class="name" (click)="handleChooseGuest(item, i)" [ngClass]="{ selected: i === residentIndex }">
            <i class="mr-1" [ngClass]="{
                'isax-man1': item.gender === 'Nam',
                'isax-woman1': item.gender === 'Nữ'
              }"></i>
            {{ item.name.toUpperCase() ?? "Đang nhập thông tin khách..." }}
          </div>
          <div class="title-label" *ngIf="item.representative">
            Người đại diện
          </div>
          <div class="birth">
            <i class="isax-cake1 mr-1"></i>
            {{ item.birth_date | dateFormat }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-control-footer">
    <button nz-button type="button" class="btn btn-default" (click)="close()">
      <i nz-icon nzType="close" nzTheme="outline"></i>Đóng
    </button>
    <button nz-button type="submit" class="btn btn-primary" (click)="handlerSubmit()">
      <i nz-icon nzType="login" nzTheme="outline"></i>Nhận phòng
    </button>
  </div>
</form>