<form [formGroup]="myForm">
  <ng-template #controlErrorTpl let-control>
    <app-render-errors [control]="control"></app-render-errors>
  </ng-template>

  <div class="title-group">
    <div class="title-label">
      <i class="isax-house-21"></i> Thông tin phòng
    </div>
    <div class="title-control"></div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row mt-2">
        <div class="col-md-6">
          <app-form-control label="Thời gian nhận phòng">
            <input-date-time formControlName="checkInTime"></input-date-time>
          </app-form-control>
        </div>
        <div class="col-md-6">
          <app-form-control label="Thời gian trả phòng">
            <input-date-time
              formControlName="checkOutTime"
              (onChange)="onDate()"
              [min]="now"
            ></input-date-time>
          </app-form-control>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <app-form-control label="Loại phòng">
            <input-select-api
              [apiService]="roomTypeService"
              [actionName]="'getCombobox'"
              formControlName="roomTypeId"
            ></input-select-api>
          </app-form-control>
        </div>
        <div class="col-md-4">
          <app-form-control label="Phòng">
            <input-select-api
              [apiService]="roomService"
              [actionName]="'getCombobox'"
              formControlName="roomId"
              [allowSearch]="false"
            ></input-select-api>
          </app-form-control>
        </div>
        <div class="col-md-4">
          <app-form-control label="Giá phòng">
            <input-number formControlName="totalPrice"></input-number>
          </app-form-control>
        </div>
        <div class="col-md-12">
          <app-form-control label="Ghi chú">
            <input-textarea [rows]="1" formControlName="note"></input-textarea>
          </app-form-control>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card my-2">
        <h1>Tóm tắt hoá đơn</h1>
        <div class="pay-data">
          <div class="pay-item">
            <div class="name">Tổng tiền phòng</div>
            <div class="value">
              {{ this.myForm.get("totalPrice")?.value | moneyFormat }}
            </div>
          </div>
          <div class="pay-item">
            <div class="name">Thuế</div>
            <div class="value">
              {{ this.myForm.get("vat")?.value | moneyFormat }}
            </div>
          </div>
          <div class="pay-item">
            <div class="name">Cần thanh toán</div>
            <div class="value">
              {{ this.myForm.get("finalPrice")?.value | moneyFormat }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">Trả trước</div>
          <div class="col-md-5">
            <app-form-control>
              <input-number
                formControlName="prepayment"
                (ngModelChange)="updateInvoice()"
              ></input-number>
            </app-form-control>
          </div>
        </div>
        <div class="return-money">
          <div class="name">Còn lại</div>
          <div class="value">{{ remainingAmount | moneyFormat }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="customer-data">
    <div class="customer-detail">
      <div class="title-group">
        <div class="title-label">
          <i class="isax-house-21"></i> Thông tin khách
        </div>
        <div class="title-control">
          <button
            nz-button
            type="button"
            class="btn btn-default mr-2"
            (click)="myForm.reset()"
          >
            <i class="isax-rotate-left1 mr-2"></i>Làm mới
          </button>
          <!-- <button nz-button type="button" class="btn btn-default mr-2">
            <i class="isax-rotate-left1 mr-2"></i>Hủy
          </button> -->
          <!-- <button nz-button type="button" class="btn btn-primary mr-2">
            <i class="isax-import-11 mr-2"></i>Cập nhật
          </button> -->
          <button
            type="button"
            class="btn btn-primary"
            (click)="handlerOpenDialog()"
          >
            <i class="isax-scan-barcode1 mr-2"></i>Quét CCCD
          </button>

          <!-- <app-customer-scanner-button (success)="data = $event"></app-customer-scanner-button> -->
        </div>
      </div>

      <!-- <app-customer-data [(form)]="resident" [data]="items"></app-customer-data> -->
      <div class="row mt-2" formGroupName="guests">
        <div class="col-md-4">
          <app-form-control label="Họ tên">
            <input-text formControlName="fullName" [toUper]="true"></input-text>
          </app-form-control>
        </div>
        <div class="col-md-4">
          <app-form-control label="Giới tính">
            <input-text formControlName="gender"></input-text>
          </app-form-control>
        </div>
        <div class="col-md-4">
          <app-form-control label="Ngày sinh">
            <input-date formControlName="dateOfBirth"></input-date>
          </app-form-control>
        </div>
        <div class="col-md-4">
          <app-form-control label="Số điện thoại">
            <input-text formControlName="phoneNumber"></input-text>
          </app-form-control>
        </div>
        <!-- <div class="col-md-4">
          <app-form-control label="Loại giấy tờ">
            <input-select formControlName="identityType"></input-select>
          </app-form-control>
        </div> -->
        <!-- <div *ngIf="form.get('identityType')?.value === 'GTK'" class="col-md-4">
          <app-form-control label="Tên giấy tờ">
            <input-text formControlName="identityName"></input-text>
          </app-form-control>
        </div> -->
        <div class="col-md-4">
          <app-form-control label="Số giấy tờ">
            <input-text formControlName="identityNo"></input-text>
          </app-form-control>
        </div>
        <ng-container>
          <div class="col-md-12">
            <input-diaban
              [apiService]="diaBanService"
              [city]="myForm.get('guests.provinceId')"
              [district]="myForm.get('guests.districtId')"
              [village]="myForm.get('guests.wardId')"
            ></input-diaban>
          </div>
          <!-- <div class="col-md-12">
            <app-form-control label="Nơi làm việc">
              <input-textarea
                [maxlength]="225"
                formControlName="workplace"
              ></input-textarea>
            </app-form-control>
          </div> -->
        </ng-container>
      </div>
    </div>
    <div class="customer-list">
      <div class="title-group">
        <div class="title-label">
          <i class="isax-house-21"></i> Danh sách khách
        </div>
        <div class="title-control">
          <button
            type="button"
            class="btn btn-default"
            (click)="handleRemoveGuest()"
          >
            <i class="isax-trash1 mr-2"></i>Xóa khách
          </button>

          <button
            type="button"
            class="btn btn-primary ml-2"
            (click)="handleAddGuest()"
          >
            <i class="isax-add-circle1 mr-2"></i>Thêm khách
          </button>
        </div>
      </div>

      <div class="resident-list">
        <div class="resident-item selected" *ngFor="let item of listGuest">
          <div class="name" (click)="handleChooseGuest(item)">
            <i
              class="mr-1"
              [ngClass]="{
                'isax-man1': item.gender === 'Nam',
                'isax-woman1': item.gender === 'Nữ'
              }"
            ></i>
            {{ item.fullName.toUpperCase() ?? "Đang nhập thông tin khách..." }}
          </div>
          <div class="title-label" *ngIf="item.representative">
            Người đại diện
          </div>
          <div class="birth">
            <i class="isax-cake1 mr-1"></i>
            {{ item.dateOfBirth }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-control-footer">
    <button nz-button type="button" class="btn btn-default" (click)="close()">
      <i nz-icon nzType="close" nzTheme="outline"></i>Đóng
    </button>
    <button
      nz-button
      type="submit"
      class="btn btn-primary"
      (click)="handlerSubmit()"
    >
      <i nz-icon nzType="login" nzTheme="outline"></i>Nhận phòng
    </button>
  </div>
</form>
