<button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="close()">
  <span class="ant-modal-close-x">
    <i nz-icon nzType="close" nzTheme="outline" class="anticon ant-modal-close-icon anticon-close"></i>
  </span>
</button>
<form [formGroup]="myForm">
  <ng-template #controlErrorTpl let-control>
    <app-render-errors [control]="control"></app-render-errors>
  </ng-template>

  <!-- Thêm tầng -->
  <div class="row" *ngIf="mode === 'add-floor'">
    <div class="col-md-6">
      <app-form-control label="Chọn Cơ Sở">
        <input-select-api [apiService]="hotelService" [actionName]="'getCombobox'" formControlName="facility"> </input-select-api>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Tầng">
        <input-number formControlName="floorNumber"> </input-number>
      </app-form-control>
    </div>
  </div>
  <div class="row" *ngIf="mode === 'edit-floor'">
    <div class="col-md-12">
      <app-form-control label="Tầng">
        <input-number formControlName="floorNumber"> </input-number>
      </app-form-control>
    </div>
  </div>
  <div class="row" *ngIf="mode === 'edit-room'">
    <div class="col-md-6">
      <app-form-control label="Chọn Cơ Sở">
        <input-select-api [apiService]="hotelService" [actionName]="'getCombobox'" formControlName="facility"> </input-select-api>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Tầng">
        <input-select-api [apiService]="floorService" [actionName]="'getCombobox'" formControlName="floor"> </input-select-api>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Kiểu phòng">
        <input-select-api [apiService]="roomTypeService" [actionName]="'getCombobox'" formControlName="roomType"> </input-select-api>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Số phòng">
        <input-number formControlName="roomNumber"> </input-number>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Trạng thái">
        <input-select [items]="listRoomStatus" formControlName="status"> </input-select>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Số lượng người ở">
        <input-number formControlName="maxCapacity"> </input-number>
      </app-form-control>
    </div>
  </div>

  <div class="row" *ngIf="mode === 'add-room'">
    <div class="col-md-6">
      <app-form-control label="Chọn Cơ Sở">
        <input-select-api [apiService]="hotelService" [actionName]="'getCombobox'" formControlName="facility"> </input-select-api>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Tầng">
        <input-select-api [apiService]="floorService" [actionName]="'getCombobox'" formControlName="floor"> </input-select-api>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Kiểu phòng">
        <input-select-api [apiService]="roomTypeService" [actionName]="'getCombobox'" formControlName="roomType"> </input-select-api>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Số phòng">
        <input-number formControlName="roomNumber"> </input-number>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Trạng thái">
        <input-select [items]="listRoomStatus" formControlName="status"> </input-select>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Số lượng người ở">
        <input-number formControlName="maxCapacity"> </input-number>
      </app-form-control>
    </div>
  </div>

  <div class="list-control-search">
    <button nz-button type="button" class="btn btn-default" (click)="close()">
      <i nz-icon nzType="close" nzTheme="outline"></i>Hủy
    </button>
    <!-- lưu và đóng -->
    <button nz-button type="button" class="btn btn-primary" (click)="handlerSubmitData()" 
    *ngIf="mode !== 'view'">
      <i class="icon-plus-circle2 mr-2"></i>
      Lưu và đóng
    </button>
  </div>
</form>