<button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="close()">
  <span class="ant-modal-close-x">
    <i nz-icon nzType="close" nzTheme="outline" class="anticon ant-modal-close-icon anticon-close"></i>
  </span>
</button>
<form [formGroup]="myForm">
  <ng-template #controlErrorTpl let-control>
    <app-render-errors [control]="control"></app-render-errors>
  </ng-template>

  <div class="row">
    <div class="col-md-6">
      <app-form-control label="Tên Khách hàng">
        <input-text formControlName="name"> </input-text>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Thông tin liên lạc">
        <input-text formControlName="contact_details"> </input-text>
      </app-form-control>
    </div>
  </div>

  <div class="list-control-search">
    <button nz-button type="button" class="btn btn-default" (click)="close()">
      <i nz-icon nzType="close" nzTheme="outline"></i>Hủy
    </button>
    <!-- lưu và đóng -->
    <button nz-button type="button" class="btn btn-primary" (click)="handlerSubmitData()"
    *ngIf="mode !== 'view'">
      <i class="icon-plus-circle2 mr-2"></i>
      Lưu và đóng
    </button>
  </div>
</form>
