<div class="page-header page-header-light">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb-title">
                Quản Lý Tầng
            </div>
            <div class="breadcrumb">
                <div class="list-control-main">
                    <button nz-button type="button" class="btn btn-primary">
                        <i class="isax-add-circle1 mr-2"></i>Thêm tầng
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="breadcrumb-title">
        Tầng 1
    </div>
    <div class="col-md-4 col-lg-3">
        <div class="room-select border p-3 rounded">
            <div class="form-check form-switch form-check-reverse">
                <input class="form-check-input" type="checkbox" role="switch">
            </div>
            <div class="text-center">
                <span class="fw-bold d-block text-primary">Room No.101</span>
                <span class="mt-1">Booked</span>
            </div>
        </div>
    </div>
</div>