<button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="close()">
  <span class="ant-modal-close-x">
    <i nz-icon nzType="close" nzTheme="outline" class="anticon ant-modal-close-icon anticon-close"></i>
  </span>
</button>
<form [formGroup]="myForm">
  <ng-template #controlErrorTpl let-control>
    <app-render-errors [control]="control"></app-render-errors>
  </ng-template>

  <div class="row">
    <div class="col-md-6">
      <app-form-control label="Tên nhân viên">
        <input-text formControlName="name"> </input-text>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Email">
        <input-text formControlName="email"> </input-text>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Số điện thoại">
        <input-text formControlName="phone"> </input-text>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Địa chỉ">
        <input-text formControlName="address"> </input-text>
      </app-form-control>
    </div>

    <div class="col-md-6">
      <app-form-control label="Vai trò">
        <input-select-api [apiService]="roleService" formControlName="role_id"></input-select-api>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Cơ sở làm việc">
        <input-select-api [apiService]="hotelService" [actionName]="'getCombobox'"
          formControlName="hotel_id"></input-select-api>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Tình trạng làm việc">
        <input-select [items]="listStatus" formControlName="status"></input-select>
      </app-form-control>
    </div>
    <div class="col-md-6">
      <app-form-control label="Mật khẩu">
        <input-password formControlName="password"></input-password>
      </app-form-control>
    </div>
  </div>

  <div class="list-control-search">
    <button nz-button type="button" class="btn btn-default" (click)="close()">
      <i nz-icon nzType="close" nzTheme="outline"></i>Hủy
    </button>
    <!-- lưu và đóng -->
    <button nz-button type="button" class="btn btn-primary" (click)="handlerSubmitData()" *ngIf="mode !== 'view'">
      <i class="icon-plus-circle2 mr-2"></i>
      Lưu và đóng
    </button>
  </div>
</form>