<nz-input-group [nzSuffix]="inputClearTpl">
  <textarea
    nz-input
    [class]="class"
    [placeholder]="!disabled ? placeholder : ''"
    cols="{{ cols }}"
    rows="{{ rows }}"
    [(ngModel)]="controlValue"
    (change)="onChange()"
    [disabled]="disabled"
    [readonly]="readonly"
    [hidden]="hidden"
    (focusin)="onBlur()"
    (focusout)="onUnBlur()"
  ></textarea>
</nz-input-group>
<ng-template #inputClearTpl>
  <i
    nz-icon
    class="ant-input-clear-icon"
    nzTheme="fill"
    nzType="close-circle"
    *ngIf="controlValue && !disabled"
    (click)="onClear()"
  ></i>
</ng-template>
