<div class="row" [formGroup]="form">
  <div class="col-md-4">
    <app-form-control label="Họ tên">
      <input-text formControlName="name" [toUper]="true"></input-text>
    </app-form-control>
  </div>
  <div class="col-md-4">
    <app-form-control label="Giới tính">
      <input-select [items]="listGender" formControlName="gender"></input-select>
    </app-form-control>
  </div>
  <div class="col-md-4">
    <app-form-control label="Ngày sinh">
      <input-date formControlName="birth_date"></input-date>
    </app-form-control>
  </div>
  <div class="col-md-4">
    <app-form-control label="Số điện thoại">
      <input-text formControlName="phone_number"></input-text>
    </app-form-control>
  </div>
  <div class="col-md-4">
    <app-form-control label="Quốc tịch">
      <input-select-api [apiService]="diaBanService" [actionName]="'getComboboxQT'" formControlName="nat_id" (onChange)="hanldeOnChangeQT()">
      </input-select-api>
    </app-form-control>
  </div>
  <div class="col-md-4" *ngIf="form.get('nat_id')?.value === 196">
    <app-form-control label="Số CCCD">
      <input-text formControlName="id_number"></input-text>
    </app-form-control>
  </div>
  <div class="col-md-4">
    <app-form-control label="Số hộ chiếu" *ngIf="form.get('nat_id')?.value !== 196">
      <input-text formControlName="passport_number"></input-text>
    </app-form-control>
  </div>

  <ng-container *ngIf="form.get('nat_id')?.value === 196">
    <div class="col-md-12">
      <input-diaban [apiService]="diaBanService" [city]="form.get('province_id')" [district]="form.get('district_id')"
        [village]="form.get('ward_id')"></input-diaban>
    </div>
  </ng-container>

  <div class="col-md-12">
    <app-form-control label="Địa chỉ chi tiết">
      <input-text formControlName="address_detail"></input-text>
    </app-form-control>
  </div>
</div>