<nz-input-group [nzSuffix]="inputClearTpl">
  <input
    nz-input
    #input
    type="text"
    [placeholder]="!disabled ? placeholder : ''"
    [(ngModel)]="controlValue"
    (ngModelChange)="setValue()"
    (change)="onChange()"
    [disabled]="disabled"
    [readonly]="readonly"
    [maxlength]="maxlength"
    [hidden]="hidden"
    (keyup)="onKeyUp($event)"
    (blur)="onBlur()"
    [autocomplete]="autocomplete === false ? 'off' : 'on'"
    [attr.readonly]="autocomplete === false ? true : null"
    [ngStyle]="{ 'text-transform': textTransform }"
    [mask]="mask"
  />
</nz-input-group>
<ng-template #inputClearTpl>
  <i
    nz-icon
    class="ant-input-clear-icon"
    nzTheme="fill"
    nzType="close-circle"
    *ngIf="controlValue && !disabled"
    (click)="onClear()"
  ></i>
</ng-template>
