<nz-input-group [nzAddOnAfter]="!disabled ? suffixControlNumber: undefined">
  <input type="text" [ngClass]="{'disabled':disabled}" nz-input [(ngModel)]="controlValue" [textMask]="{mask: maskFomat}" [disabled]="disabled"
    [readonly]="readonly" [hidden]="hidden" [placeholder]="!disabled ? placeholder : ''" (change)="onChange()">
</nz-input-group>
<ng-template #suffixControlNumber>
  <div class="input-group-append">
    <div class="actions" (click)="pushValue()">
      <i nz-icon nzType="up" nzTheme="outline"></i>
    </div>
    <div class="actions" (click)="minusValue()">
      <i nz-icon nzType="down" nzTheme="outline"></i>
    </div>
  </div>
</ng-template>
