<form [formGroup]="myForm">
  <div class="page-header page-header-light">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
        <div class="breadcrumb-title">
          <a class="isax-arrow-circle-left1 acction-back"></a>
          Đặt phòng
        </div>
        <div class="breadcrumb">
          <div class="list-control-main">
            <div class="contract-time">
              <nz-spin [nzSpinning]="false">
                <!-- <app-form-control>
                  <input-date-range-picker
                    [placeholder]="['Từ ngày', 'Tới ngày']"
                    formControlName="dateRange"
                    [disabledDate]="disabledDate"
                    [disabledTime]="disabledTime"
                  ></input-date-range-picker>
                </app-form-control> -->

                <div class="ux-mobile">
                  <div class="row">
                    <div class="col-12">
                      <app-form-control label="Từ ngày">
                        <nz-input-group [nzAddOnAfter]="suffixHourse1">
                          <input-date formControlName="checkInTime" [min]="toDay"
                            (onChange)="onChangeStartDate()"></input-date>

                          <ng-template #suffixHourse1>
                            <input-select [allowClear]="false" placeholder="Giờ" formControlName="checkInTimeHour"
                              [items]="listHour"></input-select>
                          </ng-template>
                        </nz-input-group>
                      </app-form-control>
                    </div>
                    <div class="col-12">
                      <app-form-control label="Đến ngày">
                        <nz-input-group [nzAddOnAfter]="suffixHourse2">
                          <input-date [allowClear]="false" formControlName="checkOutTime" [min]="toDay"></input-date>

                          <ng-template #suffixHourse2>
                            <input-select placeholder="Giờ" formControlName="checkOutTimeHour"
                              [items]="listHour"></input-select>
                          </ng-template>
                        </nz-input-group>
                      </app-form-control>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 text-center">
                      <app-form-control>

                        <button type="button" class="btn btn-primary w-100" (click)="onDateRangeChange()">
                          Tìm kiếm
                        </button>
                      </app-form-control>
                    </div>
                  </div>
                </div>
              </nz-spin>
            </div>

            <div class="header-content">
              <div class="download-header mr-2">
                <button nz-button type="button" class="btn btn-success" (click)="dowloadFile()">
                  <i class="isax-document-download1 mr-2"></i>Tải về file mẫu
                </button>
              </div>

              <div class="contract-type">
                <!-- <input-radio formControlName="contractType"></input-radio> -->
                <input-radio formControlName="contractType" [items]="types"></input-radio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="ux-pc">
      <div class="row">
        <div class="col-md-4">
          <app-form-control label="Từ ngày">
            <nz-input-group [nzAddOnAfter]="suffixHourse1">
              <input-date formControlName="checkInTime" [min]="toDay" (onChange)="onChangeStartDate()"></input-date>

              <ng-template #suffixHourse1>
                <input-select [allowClear]="false" placeholder="Giờ" formControlName="checkInTimeHour"
                  [items]="listHour"></input-select>
              </ng-template>
            </nz-input-group>
          </app-form-control>
        </div>

        <div class="col-md-4">
          <app-form-control label="Đến ngày">
            <nz-input-group [nzAddOnAfter]="suffixHourse2">
              <input-date [allowClear]="false" formControlName="checkOutTime" [min]="toDay"></input-date>

              <ng-template #suffixHourse2>
                <input-select placeholder="Giờ" formControlName="checkOutTimeHour" [items]="listHour"></input-select>
              </ng-template>
            </nz-input-group>
          </app-form-control>
        </div>

        <div class="col-md-2">
          <app-form-control label="Số khách: ">
            <nz-input-number formControlName="numOfResidents" (ngModelChange)="onQuantityChange()" [nzMin]="0">
            </nz-input-number>
          </app-form-control>
        </div>

        <div class="col-md-2">
          <app-form-control>
            <button type="button" class="btn btn-primary" style="top: 21px; width: 46%; font-weight: 700"
              (click)="onDateRangeChange()">
              Tìm kiếm
            </button>
          </app-form-control>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <div class="title-group">
          <div class="title-label">
            <i class="isax-house-21"></i><span> Thông tin đặt phòng</span>
          </div>
          <div class="title-control">
            <span>Số lượng phòng: {{ numOfRooms }}</span>
            <!-- <div class="count-member">
              <span>Số khách: </span>
              <nz-input-number formControlName="numOfResidents" (ngModelChange)="onQuantityChange()" [nzMin]="0"
                [nzStep]="1"></nz-input-number>
            </div> -->
          </div>
        </div>

        <div class="ux-pc mt-1">
          <app-table [showIndex]="false" [showPagination]="false" [columns]="columns" [items]="items" [loading]="false">
            <ng-template [appCellTemplate]="'typeName'" let-item>
              {{ item.typeName }}
            </ng-template>
            <ng-template [appCellTemplate]="'numberOfPeople'" let-item>
              <div class="row">
                <div class="col-md-6">
                  <nz-input-number [ngModelOptions]="{ standalone: true }" [(ngModel)]="item.quantity"
                    (ngModelChange)="onQuantityChange()" [nzMin]="0" [nzMax]="item.available"
                    [nzStep]="1"></nz-input-number>
                </div>
                <div class="col-md-6 m-auto" nz-tooltip nzTooltipTitle="Trống/Tổng">
                  {{ item.phongtrong }}/{{ item.dango }}
                </div>
              </div>
            </ng-template>
            <ng-template [appCellTemplate]="'priceId'" let-item>
              <div class="price-type">
                <input-select [allowClear]="false" [items]="pricesDict"
                  (onChange)="onInputSelectChange(item)"></input-select>
                <div class="price-type-info" nz-tooltip [nzTooltipTitle]="priceDetail">
                  <ng-template #priceDetail>
                    <div style="white-space: pre-line">
                      <p>{{ item.pricePerHour }}</p>
                      <p>{{ item.pricePerDay }}</p>
                      <p>{{ item.priceOvertime }}</p>
                    </div>
                  </ng-template>
                  <span nz-icon nzType="info-circle" nzTheme="outline"></span>
                </div>
              </div>
            </ng-template>
            <ng-template [appCellTemplate]="'total_price'" let-item>
              <nz-spin [nzSpinning]="item.loading">
                <input-number [(ngModel)]="item.total_price" [ngModelOptions]="{ standalone: true }" [min]="0"
                  [integerLimit]="10"></input-number>
              </nz-spin>
            </ng-template>
            <ng-template [appCellTemplate]="'final_price'" let-item>
              {{ item.final_price | moneyFormat }}
            </ng-template>
          </app-table>
        </div>

        <div class="ux-mobile mt-1">
          <div *ngFor="let item of items" class="card-container">
            <nz-card [nzLoading]="loading" class="custom-card">
              <div class="title-card">
                {{ item.name }}
              </div>
              <hr />

              <div class="row mb-2">
                <div class="col-md-6">
                  <strong>Số lượng phòng:</strong>
                  <br />
                  <nz-input-number [ngModelOptions]="{ standalone: true }" [(ngModel)]="item.quantity"
                    (ngModelChange)="onQuantityChange()" [nzMin]="0" [nzMax]="item.available"
                    [nzStep]="1"></nz-input-number>
                </div>
              </div>

              <div class="col-md-6 mb-title-room">
                <div nz-tooltip nzTooltipTitle="Trống/Tổng">
                  {{ item.available - item.quantity }} Phòng trống / Tổng số :
                  {{ item.total }}
                </div>
              </div>

              <div class="price-type mb-2">
                <strong>Loại giá:</strong>
                <input-select [allowClear]="false" [items]="pricesDict"
                  (onChange)="onInputSelectChange(item)"></input-select>
                <div class="price-type-info" nz-tooltip [nzTooltipTitle]="priceDetail">
                  <ng-template #priceDetail>
                    <div style="white-space: pre-line">
                      {{ item.description }}
                    </div>
                  </ng-template>
                  <span class="info-circle" nz-icon nzType="info-circle" nzTheme="outline"></span>
                </div>
              </div>
              <div class="mb-2">
                <nz-spin [nzSpinning]="item.loading">
                  <strong>Giá phòng dự kiến: </strong>
                  <input-number [(ngModel)]="item.totalAmount" [ngModelOptions]="{ standalone: true }" [min]="0"
                    [integerLimit]="10"></input-number>
                  <!-- <input-number [(ngModel)]="item.totalAmount" [ngModelOptions]="{ standalone: true }"
                    (ngModelChange)="updateInvoice()" [min]="0" [integerLimit]="10"></input-number> -->
                </nz-spin>
              </div>
              <div>
                <strong>Tổng cộng:</strong>
                {{ item.totalAmount * item.quantity | moneyFormat }}
              </div>
            </nz-card>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <h1>Tóm tắt hoá đơn</h1>
          <div class="pay-data">
            <div class="pay-item">
              <div class="name">Tổng tiền phòng</div>
              <div class="value">
                {{ this.totalAmountSum | moneyFormat }}
              </div>
            </div>
            <div class="pay-item">
              <div class="name">Thuế</div>
              <div class="value">{{ taxAmount | moneyFormat }}</div>
            </div>
            <div class="pay-item">
              <div class="name">Cần thanh toán</div>
              <div class="value">{{ totalAmount | moneyFormat }}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">Trả trước</div>
            <div class="col-md-5">
              <app-form-control>
                <input-number [min]="0" [integerLimit]="10" formControlName="prepayment"></input-number>
                <!-- <input-number [min]="0" [integerLimit]="10" formControlName="prepayment"
                  (ngModelChange)="updateInvoice()"></input-number> -->
              </app-form-control>
            </div>

            <div class="col-md-7">Phụ trội</div>
            <div class="col-md-5">
              <app-form-control>
                <input-number [min]="0" [integerLimit]="10" formControlName="prepayment"></input-number>
                <!-- <input-number [min]="0" [integerLimit]="10" formControlName="prepayment"
                  (ngModelChange)="updateInvoice()"></input-number> -->
              </app-form-control>
            </div>
          </div>
          <div class="return-money">
            <div class="name">Còn lại</div>
            <div class="value">{{ remainingAmount | moneyFormat }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-2">
      <ng-container>
        <div class="title-group">
          <div class="title-label">
            <i class="isax-crown-11"></i>Thông tin lưu trú
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-3">
            <app-form-control label="Tên đoàn">
              <input-text formControlName="groupName" [toUper]="true"></input-text>
            </app-form-control>
          </div>
          <div class="col-md-3">
            <app-form-control label="Lý do lưu trú">
              <input-select-api formControlName="reasonStayId"></input-select-api>
            </app-form-control>
          </div>
          <div class="col-md-6">
            <app-form-control label="Ghi chú">
              <input-text formControlName="note"></input-text>
            </app-form-control>
          </div>
        </div>
      </ng-container>

      <div class="title-group">
        <div class="title-label">
          <i class="isax-user-tick1"></i> Thông tin người đại diện
        </div>
        <div class="title-control"></div>
      </div>

      <div class="row mt-2 mb-3">
        <div class="col-md-3">
          <app-form-control label="Họ tên">
            <input-text formControlName="representativeName" [toUper]="true"></input-text>
          </app-form-control>
        </div>
        <div class="col-md-3">
          <app-form-control label="Số điện thoại">
            <input-text formControlName="phoneNumber"></input-text>
          </app-form-control>
        </div>
      </div>

      <div class="customer-data">
        <div class="customer-detail">
          <div class="title-group">
            <div class="title-label">
              <i class="isax-house-21"></i> Thông tin khách
            </div>
            <div class="title-control">
              <button (click)="resetForm()" nz-button type="button" class="btn btn-default mr-2"
                *ngIf="residentIndex === -1">
                <i class="isax-rotate-left1 mr-2"></i>Làm mới
              </button>
              <button (click)="cancelResident()" nz-button type="button" class="btn btn-default mr-2"
                *ngIf="residentIndex !== -1">
                <i class="isax-rotate-left1 mr-2"></i>Hủy
              </button>
              <button (click)="updateResident()" nz-button type="button" class="btn btn-primary mr-2"
                *ngIf="residentIndex !== -1">
                <i class="isax-import-11 mr-2"></i>Cập nhật
              </button>
              <!-- <app-customer-scanner-button #btnScaner (success)="data = $event"
                (successMulti)="scanMulti($event)"></app-customer-scanner-button> -->
            </div>
          </div>
          <div class="row mt-2" formGroupName="guests">
            <div class="col-md-4">
              <app-form-control label="Họ tên">
                <input-text formControlName="fullName" [toUper]="true"></input-text>
              </app-form-control>
            </div>
            <div class="col-md-4">
              <app-form-control label="Giới tính">
                <input-text formControlName="gender"></input-text>
              </app-form-control>
            </div>
            <div class="col-md-4">
              <app-form-control label="Ngày sinh">
                <input-date formControlName="dateOfBirth"></input-date>
              </app-form-control>
            </div>
            <div class="col-md-4">
              <app-form-control label="Số điện thoại">
                <input-text formControlName="phoneNumber"></input-text>
              </app-form-control>
            </div>
            <!-- <div class="col-md-4">
              <app-form-control label="Loại giấy tờ">
                <input-select formControlName="identityType"></input-select>
              </app-form-control>
            </div> -->
            <!-- <div *ngIf="form.get('identityType')?.value === 'GTK'" class="col-md-4">
              <app-form-control label="Tên giấy tờ">
                <input-text formControlName="identityName"></input-text>
              </app-form-control>
            </div> -->
            <div class="col-md-4">
              <app-form-control label="Số giấy tờ">
                <input-text formControlName="identityNo"></input-text>
              </app-form-control>
            </div>
            <ng-container>
              <div class="col-md-12">
                <input-diaban [city]="myForm.get('provinceId')" [district]="myForm.get('districtId')"
                  [village]="myForm.get('wardId')" [address]="myForm.get('addressDetail')"></input-diaban>
              </div>
              <div class="col-md-12">
                <app-form-control label="Nơi làm việc">
                  <input-textarea [maxlength]="225" formControlName="workplace"></input-textarea>
                </app-form-control>
              </div>
            </ng-container>
          </div>
          <!-- <app-customer-data [(form)]="resident" [data]="data"></app-customer-data> -->
        </div>
        <div class="customer-list">
          <div class="title-group2">
            <div class="title-label">
              <i class="isax-house-21"></i> Danh sách khách
            </div>
            <div class="title-control">
              <button type="button" class="btn btn-default mr-2" (click)="addModel()">
                <i class="isax-clipboard-import mr-2"></i>Thêm danh sách khách
              </button>

              <button *ngIf="residentIndex !== -1" type="button" class="btn btn-default" (click)="deleteResident()">
                <i class="isax-trash1 mr-2"></i>Xóa khách
              </button>
              <button *ngIf="residentIndex === -1" type="button" class="btn btn-primary" (click)="addResident()">
                <i class="isax-add-circle1 mr-2"></i>Thêm khách
              </button>
            </div>
          </div>

          <div class="resident-list">
            <div class="resident-item selected" *ngFor="let item of listGuest">
              <div class="name">
                <i class="mr-1" [ngClass]="{
                    'isax-man1': item.gender === 'Nam',
                    'isax-woman1': item.gender === 'Nữ'
                  }"></i>
                {{item.fullName.toUpperCase() ?? "Đang nhập thông tin khách..."}}
              </div>
              <div class="title-label" *ngIf="item.representative">
                Người đại diện
              </div>
              <div class="birth">
                <i class="isax-cake1 mr-1"></i>
                {{item.birthDateText}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-control-footer text-center">
    <button [routerLink]="['..']" nz-button type="button" class="btn btn-default">
      <i nz-icon nzType="close" nzTheme="outline"></i>
      Đóng
    </button>
    <button [nzLoading]="loading" nz-button type="button" class="btn btn-primary ml-2" (click)="submit()">
      <i nz-icon nzType="save" nzTheme="outline"></i>
      Đặt phòng
    </button>
  </div>
</form>