<form [formGroup]="myForm">
  <div class="page-header page-header-light">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
        <div class="breadcrumb-title">
          <a class="isax-arrow-circle-left1 acction-back" (click)="close()"></a>
          Đặt phòng
        </div>
        <div class="breadcrumb">
          <div class="list-control-main">
            <div class="contract-time">
            </div>

            <div class="header-content">
              <div class="download-header mr-2">
                <button nz-button type="button" class="btn btn-success" (click)="dowloadFile()">
                  <i class="isax-document-download1 mr-2"></i>Tải về file mẫu
                </button>
              </div>

              <div class="contract-type">
                <!-- <input-radio formControlName="contractType"></input-radio> -->
                <input-radio formControlName="contractType" [items]="types"
                  (onChange)="handleContractType($event)"></input-radio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="row">
      <div class="row">
        <div class="col-md-3">
          <app-form-control label="Thời gian nhận phòng">
            <input-date-time formControlName="checkInTime"></input-date-time>
          </app-form-control>
        </div>
        <div class="col-md-3">
          <app-form-control label="Thời gian trả phòng">
            <input-date-time formControlName="checkOutTime" [min]="now"></input-date-time>
          </app-form-control>
        </div>

        <div class="col-md-3">
          <app-form-control label="Số khách ">
            <nz-input-number formControlName="numOfResidents" (ngModelChange)="onQuantityChange()"
              [nzMin]="0"></nz-input-number>
          </app-form-control>
        </div>

        <div class="col-md-3">
          <button type="button" class="btn btn-primary" style="top: 21px; width: 46%; font-weight: 700"
            (click)="onDateRangeChange()">
            Tìm kiếm
          </button>
        </div>
      </div>

      <div class="col-md-9">
        <div class="title-group">
          <div class="title-label">
            <i class="isax-house-21"></i><span> Thông tin đặt phòng</span>
          </div>
          <div class="title-control">
            <span>Số lượng đang chọn: {{ numOfRooms }}</span>
          </div>
        </div>

        <div class="ux-pc mt-1">
          <app-table [showIndex]="false" [showPagination]="false" [columns]="columns" [items]="items" [loading]="false">
            <ng-template [appCellTemplate]="'typeName'" let-item>
              {{ item.typeName }}
            </ng-template>
            <ng-template [appCellTemplate]="'numberOfPeople'" let-item>
              <div class="row">
                <div class="col-md-6">
                  <nz-input-number [ngModelOptions]="{ standalone: true }" [(ngModel)]="item.quantity"
                    (ngModelChange)="handleCalPrice(item)" [nzMin]="0" [nzMax]="item.peopleMax"
                    [nzStep]="1"></nz-input-number>
                </div>
                <div class="col-md-6 m-auto" nz-tooltip nzTooltipTitle="Trống/Đang ở">
                  {{ item.quantity ? item.phongtrong - item.quantity : item.phongtrong }}/{{ item.dango }}
                </div>
              </div>
            </ng-template>
            <ng-template [appCellTemplate]="'priceId'" let-item>
              <div class="price-type">
                <app-form-control>
                  <input-select [allowClear]="false" [items]="pricesDict" formControlName="pricesDict"></input-select>
                </app-form-control>
                <div class="price-type-info" nz-tooltip [nzTooltipTitle]="priceDetail">
                  <ng-template #priceDetail>
                    <div style="white-space: pre-line">
                      <p>{{ item.pricePerHourTxt }}</p>
                      <p>{{ item.pricePerDayTxt }}</p>
                      <p>{{ item.priceOvertimeTxt }}</p>
                    </div>
                  </ng-template>
                  <span nz-icon nzType="info-circle" nzTheme="outline"></span>
                </div>
              </div>
            </ng-template>
            <ng-template [appCellTemplate]="'total_price'" let-item>
              <nz-spin [nzSpinning]="item.loading">
                <input-number [(ngModel)]="item.total_price" [ngModelOptions]="{ standalone: true }"
                  [min]="0"></input-number>
              </nz-spin>
            </ng-template>
            <ng-template [appCellTemplate]="'total_amount'" let-item>
              {{ item.total_amount | moneyFormat }}
            </ng-template>
          </app-table>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <h1>Tóm tắt hoá đơn</h1>
          <div class="pay-data">
            <div class="pay-item">
              <div class="name">Tổng tiền phòng</div>
              <div class="value">
                {{ this.totalAmountSum | moneyFormat }}
              </div>
            </div>
            <div class="pay-item">
              <div class="name">Thuế</div>
              <div class="value">{{ taxAmount | moneyFormat }}</div>
            </div>
            <div class="pay-item">
              <div class="name">Cần thanh toán</div>
              <div class="value">{{ totalAmount | moneyFormat }}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">Trả trước</div>
            <div class="col-md-5">
              <app-form-control>
                <input-number [min]="0" formControlName="prepayment" (ngModelChange)="updateInvoice()"></input-number>
              </app-form-control>
            </div>

            <div class="col-md-7">Phụ phí</div>
            <div class="col-md-5">
              <app-form-control>
                <input-number [min]="0" formControlName="prepaid" (ngModelChange)="updateInvoice()"></input-number>
              </app-form-control>
            </div>
          </div>
          <div class="return-money">
            <div class="name">Còn lại</div>
            <div class="value">{{ remainingAmount | moneyFormat }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-2">
      <ng-container *ngIf="checkType === 2">
        <div class="title-group">
          <div class="title-label">
            <i class="isax-user-tick1"></i> Thông tin đoàn khách
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-3">
            <app-form-control label="Tên đoàn">
              <input-text formControlName="groupName" [toUper]="true"></input-text>
            </app-form-control>
          </div>
          <div class="col-md-6">
            <app-form-control label="Ghi chú">
              <input-text formControlName="note"></input-text>
            </app-form-control>
          </div>
        </div>
      </ng-container>

      <!-- <ng-container *ngIf="checkType === 1">
        <div class="title-group">
          <div class="title-label">
            <i class="isax-user-tick1"></i> Thông tin người đại diện
          </div>
          <div class="title-control"></div>
        </div>

        <div class="row mt-2 mb-3">
          <div class="col-md-3">
            <app-form-control label="Họ tên">
              <input-text formControlName="representativeName" [toUper]="true"></input-text>
            </app-form-control>
          </div>
          <div class="col-md-3">
            <app-form-control label="Số điện thoại">
              <input-text formControlName="phoneNumber"></input-text>
            </app-form-control>
          </div>
        </div>
      </ng-container> -->

      <div class="customer-data">
        <div class="customer-detail">
          <div class="title-group">
            <div class="title-label">
              <i class="isax-house-21"></i> Thông tin khách
            </div>
            <div class="title-control">
              <button nz-button type="button" class="btn btn-default mr-2" (click)="myForm.reset()">
                <i class="isax-rotate-left1 mr-2"></i>Làm mới
              </button>
              <!-- <button nz-button type="button" class="btn btn-default mr-2">
                <i class="isax-rotate-left1 mr-2"></i>Hủy
              </button> -->
              <!-- <button nz-button type="button" class="btn btn-primary mr-2">
                <i class="isax-import-11 mr-2"></i>Cập nhật
              </button> -->
              <button type="button" class="btn btn-primary" (click)="handlerOpenDialog()">
                <i class="isax-scan-barcode1 mr-2"></i>Quét CCCD
              </button>


              <button type="button" class="btn btn-primary ml-2" (click)="handleAddGuest()">
                <i class="isax-add-circle1 mr-2"></i>Thêm khách
              </button>

              <!-- <app-customer-scanner-button (success)="data = $event"></app-customer-scanner-button> -->
            </div>
          </div>

          <!-- <app-customer-data [(form)]="resident" [data]="items"></app-customer-data> -->
          <div class="row mt-2" formGroupName="guests">
            <div class="col-md-4">
              <app-form-control label="Họ tên">
                <input-text formControlName="fullName" [toUper]="true"></input-text>
              </app-form-control>
            </div>
            <div class="col-md-4">
              <app-form-control label="Giới tính">
                <input-select [items]="listGender" formControlName="gender"></input-select>
              </app-form-control>
            </div>
            <div class="col-md-4">
              <app-form-control label="Ngày sinh">
                <input-date formControlName="dateOfBirth"></input-date>
              </app-form-control>
            </div>
            <div class="col-md-4">
              <app-form-control label="Số điện thoại">
                <input-text formControlName="phoneNumber"></input-text>
              </app-form-control>
            </div>
            <div class="col-md-4">
              <app-form-control label="Quốc tịch">
                <input-select-api [apiService]="diaBanService" [actionName]="'getComboboxQT'" formControlName="natId">
                </input-select-api>
              </app-form-control>
            </div>
            <div class="col-md-4" *ngIf="myForm.get('guests.natId')?.value === 196">
              <app-form-control label="Số CCCD">
                <input-text formControlName="identityNo"></input-text>
              </app-form-control>
            </div>
            <div class="col-md-4">
              <app-form-control label="Số hộ chiếu" *ngIf="myForm.get('guests.natId')?.value !== 196">
                <input-text formControlName="passportNumber"></input-text>
              </app-form-control>
            </div>

            <ng-container *ngIf="myForm.get('guests.natId')?.value === 196">
              <div class="col-md-12">
                <input-diaban [apiService]="diaBanService" [city]="myForm.get('guests.provinceId')"
                  [district]="myForm.get('guests.districtId')" [village]="myForm.get('guests.wardId')"></input-diaban>
              </div>
            </ng-container>

            <ng-container>
              <div class="col-md-12">
                <app-form-control label="Địa chỉ chi tiết">
                  <input-text formControlName="addressDetail"></input-text>
                </app-form-control>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="customer-list">
          <div class="title-group2">
            <div class="title-label">
              <i class="isax-house-21"></i> Danh sách khách
            </div>
            <div class="title-control">
              <button type="button" class="btn btn-default mr-2" (click)="addModel()">
                <i class="isax-clipboard-import mr-2"></i>Thêm danh sách khách
              </button>

              <button *ngIf="residentIndex !== -1" type="button" class="btn btn-default" (click)="deleteResident()">
                <i class="isax-trash1 mr-2"></i>Xóa khách
              </button>
            </div>
          </div>

          <div class="resident-list">
            <div class="resident-item selected" *ngFor="let item of listGuest">
              <div class="name" (click)="handleChooseGuest(item)">
                <i class="mr-1" [ngClass]="{
                    'isax-man1': item.gender === 'Nam',
                    'isax-woman1': item.gender === 'Nữ'
                  }"></i>
                {{ item.fullName.toUpperCase() ?? "Đang nhập thông tin khách..." }}
              </div>
              <div class="title-label" *ngIf="item.representative">
                Người đại diện
              </div>
              <div class="birth">
                <i class="isax-cake1 mr-1"></i>
                {{ item.birthDateText }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-control-footer text-center">
    <button nz-button type="button" class="btn btn-default" (click)="close()">
      <i nz-icon nzType="close" nzTheme="outline"></i>
      Đóng
    </button>
    <button [nzLoading]="loading" nz-button type="button" class="btn btn-primary ml-2" (click)="handlerSubmit()">
      <i nz-icon nzType="save" nzTheme="outline"></i>
      Đặt phòng
    </button>
  </div>
</form>