.statistics-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #007bff; /* Màu xanh nước biển */
    margin-bottom: 20px;
    text-align: center;
  }
  
  canvas {
    max-width: 100%;
  }