<div class="content-data">
  <div class="list-room">
    <div class="title">Danh sách phòng</div>
    <ul nz-menu nzMode="inline" style="height: 400px; overflow: auto">
      <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 5 }" [nzLoading]="loading"></nz-skeleton>
      <li nz-menu-item *ngFor="let item of listRoomType" [nzSelected]="item === selectFirstRoomType"
        (click)="onRoomTypeSelected(item)">
        {{ item.typeName }} - {{ item.roomnumber }}
        <span class="m-2 text-danger">{{ item.status === 3 ? 'Đã trả phòng' : ''}}</span>
      </li>
    </ul>
    <!-- <button nz-button type="button" class="btn btn-default" style="margin-top: 10px;">
      Tự Động Chia Phòng
    </button> -->
  </div>

  <div class="room-data">
    <div class="title-group">
      <div class="title-label">
        <i class="isax-house-21"></i>
        Thông tin phòng
      </div>
      <div class="title-control">
        <div class="d-flex">
          <input-select [items]="listRoomTypeOption" style="width: 150px; margin-right: 8px" [autoSelectFirst]="true"
            *ngIf="!listRoomUsingGuest.length" placeholder="Chọn loại phòng"
            (onChange)="roomType($event)"></input-select>

          <input-select-api [apiService]="roomService" [apiParams]="roomTypeId" style="width: 130px"
            *ngIf="!listRoomUsingGuest.length" placeholder="Chọn phòng"
            (onChange)="onRoomChange($event)"></input-select-api>

          <!-- <a class="cancel" (click)="cancel()" *ngIf="!listRoomUsingGuest.length">
            <span nz-tooltip nzTooltipTitle="Hủy phòng" class="isax-trash1"></span>
          </a> -->
        </div>
        <!-- <button type="button" class="btn btn-primary check-out-btn " (c
         lick)="checkOut()"
          *ngIf="listRoomUsingGuest.length">
          <span nz-icon nzType="logout" nzTheme="outline" class="mr-2"></span>Trả phòng
        </button> -->
      </div>
    </div>
    <div class="check-in-out my-2 w-100">
      <div class="check-in">
        <i class="isax-calendar-tick1 mr-1"></i>
        Nhận phòng (dự kiến): {{ shareData.checkIn| datetimeFormat }}
      </div>
      <ng-container>
        <div class="check-space">
          <i class="isax-arrow-right1"></i>
        </div>
        <div class="check-out">
          <i class="isax-calendar-remove1 mr-1"></i>Trả phòng (dự kiến):
          {{ shareData.checkOut | datetimeFormat }}
        </div>
      </ng-container>
    </div>
    <nz-divider></nz-divider>
    <div class="money-flex my-2 d-flex justify-content-between" *ngIf="price">
      <div>
        <i class="isax-money-recive1 mr-1"></i>
        <span>Tiền phòng dự tính: {{ price?.total_price | moneyFormat }} VNĐ</span>
      </div>
      <!-- <div>
        <i class="isax-money-recive1 mr-1"></i>
        <span>Tiền phòng dự tính:
          {{ price?.totalAmount | moneyFormat }}</span>
      </div> -->
    </div>
    <nz-divider></nz-divider>
    <div class="my-2">
      <i class="isax-profile-2user1 mr-1"></i>
      <span class="fw-500">
        Có {{ listRoomUsingGuest.length }}/{{ roomInfo.numberOfPeople }} Khách trong phòng
      </span>

      <button (click)="showResidentDataModal()" type="button" class="btn btn-default add-resident float-right"
        *ngIf="listRoomUsingGuest.length < roomInfo.numberOfPeople">
        <i class="isax-add-circle1 mr-2"></i>Thêm khách
      </button>
    </div>
    <nz-divider></nz-divider>
    <div class="ux-pc">
      <app-table [items]="listRoomUsingGuest" [columns]="columns">
        <ng-template [appCellTemplate]="'identity'" let-item>
          {{ item.name }} - {{ item.phoneNumber }}
        </ng-template>
        <!-- <ng-template [appCellTemplate]="'action'" let-item>
          <a>
            <span nz-tooltip nzTooltipTitle="Cập nhật" class="isax-edit-21 text-primary"
              (click)="hanldeOpenDialog(item, 'edit')"></span>
          </a>

          <a class="p-2">
            <span nz-tooltip nzTooltipTitle="Check-out" class="isax-logout1 text-primary"></span>
          </a>
        </ng-template> -->
      </app-table>
    </div>

    <div class="ux-mobile card-container">
      <div class="custom-card" *ngFor="let item of residents" style="overflow: unset">
        <div class="card-body">
          <ul>
            <li><strong>Khách:</strong> {{ item.fullName }}</li>
            <li><strong>Loại giấy tờ:</strong> {{ item.identityType }}</li>
            <li><strong>Số giấy tờ:</strong> {{ item.identityNo }}</li>
          </ul>
        </div>

        <div class="list-icons list-icons-extended text-center round">
          <a class="list-icons-item action-edit rounded-btn" (click)="showResidentDataModal(item)">
            <i nz-tooltip nzTooltipTitle="Cập nhật" nz-icon nzType="edit" nzTheme="outline"></i>
          </a>

          <a class="list-icons-item action-delete rounded-btn p-2" (click)="checkOutResident(item)">
            <i nz-tooltip nzTooltipTitle="Check-out" nz-icon nzType="logout" nzTheme="outline"></i>
          </a>
        </div>
      </div>
    </div>

    <div *ngIf="false" class="resident-list">
      <div class="resident-item" *ngFor="let resident of residents">
        <div class="item-name">
          <i class="mr-1" [ngClass]="{ 'isax-man1': true, 'isax-woman1': false }"></i>
          {{ resident?.fullName?.toUpperCase() }}
        </div>
        <div class="item-data">
          <div class="name">
            <i class="isax-card-tick-1 mr-1"></i>
            {{ resident.identityNo }}
          </div>
        </div>
        <div class="item-data">
          <div class="name">
            <i class="isax-call-calling mr-1"></i>
            {{ resident.phoneNumber }}
          </div>
          <div class="birth">
            <i class="isax-cake1 mr-1"></i>
            {{ resident.dateOfBirth | dateFormat }}
          </div>
        </div>
        <div class="check-in-out">
          <div class="check-in">
            <div class="day">
              {{ resident?.checkInTime | dateFormat }}
            </div>
            <div class="hour">
              {{ resident?.checkInTime | datetimeFormat : "HH:mm" }}
            </div>
          </div>
          <div class="check-space">-</div>
          <div class="check-out">
            <div class="day">
              {{ resident?.checkOutTime | dateFormat }}
            </div>
            <div class="hour">
              {{ resident?.checkOutTime | datetimeFormat : "HH:mm" }}
            </div>
          </div>
        </div>
        <div class="item-action">
          <button class="btn btn-success" nz-tooltip nzTooltipTitle="Chỉnh sửa"
            (click)="showResidentDataModal(resident)">
            <i class="isax-edit1"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="room-money">
    <div class="title-group2 mt-2">
      <div class="title-label2"><i class="isax-card-slash1"></i> Dịch vụ</div>
      <div class="title-control2">
        <span class="mt-1 float-right cursor-pointer color-primary" nz-icon nzType="plus-circle" nzTheme="fill"></span>
      </div>
    </div>
    <div class="d-flex justify-content-between w-100  service-text" *ngFor="let item of listGuest">
      <div class="name-service-container">
        {{ item.serviceName }} ({{ item.quantity }})
      </div>
      <div class="amount-container">
        <div class="original">
          {{ item.totalAmount | moneyFormat }}
        </div>
        <div class="replacement">
          <i class="isax-edit-21 mr-2 edit"></i>
          <i (click)="remove(item)" class="isax-trash del"></i>
        </div>
      </div>
    </div>
    <div *ngFor="let item of listGuest" class="d-flex justify-content-between w-100 service-text">
      <div class="name-service-container">
        {{ item.note }}
      </div>
      <div class="amount-container">
        <div class="original">
          {{ item.totalAmount | moneyFormat }}
        </div>
        <div class="replacement">
          <i class="isax-edit-21 mr-2 edit"></i>
          <i (click)="remove(item)" class="isax-trash del"></i>
        </div>
      </div>
    </div>
  </div> -->
</div>

<div class="list-control-footer">
  <button (click)="close()" nz-button type="button" class="btn btn-default mr-2">
    <i nz-icon nzType="close" nzTheme="outline"></i>Đóng
  </button>

  <button (click)="handleConfirm()" nz-button type="button" class="btn btn-default mr-2">
    <i nz-icon nzType="check-circle" nzTheme="outline"></i>Xác nhận hoàn tất gán phòng
  </button>
</div>