<div class="content-data">
  <div class="list-room">
    <ul nz-menu nzMode="inline" style="height: 400px; overflow: auto;">
      <!-- <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 5 }"></nz-skeleton> -->
      <li nz-menu-item [nzSelected]="true">
        {{shareData.item.typeName}} - Phòng {{shareData.item.roomNumber}}
        <span class="m-2 text-danger"></span>
      </li>
    </ul>
    <button nz-button type="button" class="btn btn-default" style="margin-top: 10px;">
      Tự Động Chia Phòng
    </button>
  </div>

  <div class="room-data">
    <div class="title-group">
      <div class="title-label">
        <i class="isax-house-21"></i> Thông tin phòng
        {{shareData.item.roomNumber}}
      </div>
      <div class="title-control">
        <!-- <div class="d-flex">
          <input-select style="width: 150px; margin-right: 8px" placeholder="Chọn loại phòng"
            [allowClear]="false"></input-select>
          <input-select style="width: 130px" placeholder="Chọn phòng"></input-select>
          <a class="cancel">
            <span nz-tooltip nzTooltipTitle="Hủy phòng" class="isax-trash1"></span>
          </a>
        </div> -->
        <button type="button" class="btn btn-primary" (click)="onChangeRoom()">
          <span nz-icon nzType="sync" nzTheme="outline" class="mr-2"></span>Đổi phòng
        </button>

        <button type="button" class="btn btn-primary ml-2">
          <span nz-icon nzType="logout" nzTheme="outline" class="mr-2"></span>Trả phòng
        </button>
      </div>
    </div>
    <div class="check-in-out my-2">
      <div class="check-in">
        <i class="isax-calendar-tick1 mr-1"></i>
        Nhận phòng: {{ shareData.item.checkInTxt }}
      </div>
      <ng-container>
        <div class="check-space">
          <i class="isax-arrow-right1"></i>
        </div>
        <div class="check-out">
          <i class="isax-calendar-remove1 mr-1"></i>Trả phòng:
          {{ shareData.item.checkOutTxt }}
        </div>
      </ng-container>
    </div>

    <div class="money-flex my-2 d-flex justify-content-between">
      <div>
        <i class="isax-money-recive1 mr-1"></i>
        <span>Tiền phòng: {{ roomAmount | moneyFormat }}</span>
      </div>
      <div>
        <i class="isax-money-recive1 mr-1"></i>
        <span>Tiền phòng dự tính:
          {{ roomAmount | moneyFormat }}</span>
      </div>
    </div>

    <div class="my-2">
      <i class="isax-profile-2user1 mr-1"></i>
      <span class="fw-500">
        Có {{shareData.item.totalGuests}}/{{shareData.item.numberOfPeople}} Khách trong phòng
      </span>

      <button type="button" class="btn btn-default add-resident float-right"
        *ngIf="shareData.item.totalGuests < shareData.item.numberOfPeople" (click)="hanldeOpenDialog()">
        <i class="isax-add-circle1 mr-2"></i>Thêm khách
      </button>
    </div>

    <div class="ux-pc">
      <app-table [items]="shareData.listGuest" [columns]="columns">
        <ng-template [appCellTemplate]="'identity'" let-item>
          {{ item.name }} - {{ item.phoneNumber }}
        </ng-template>
        <ng-template [appCellTemplate]="'action'" let-item>
          <a>
            <span nz-tooltip nzTooltipTitle="Cập nhật" class="isax-edit-21 text-primary"
              (click)="hanldeOpenDialog(item, 'edit')"></span>
          </a>

          <a class="p-2">
            <span nz-tooltip nzTooltipTitle="Check-out" class="isax-logout1 text-primary"></span>
          </a>
        </ng-template>
      </app-table>
    </div>

    <!-- <div class="ux-mobile card-container">
      <div class="custom-card" *ngFor="let item of shareData.listGuest" style="overflow: unset">
        <div class="card-body">
          <ul>
            <li><strong>Khách:</strong> {{item.name}}</li>
            <li><strong>Số giấy tờ (CCCD):</strong> {{item.idNumber}}</li>
            <li><strong>Số điện thoại:</strong> {{item.phoneNumber}}</li>
          </ul>
        </div>

        <div class="list-icons list-icons-extended text-center round">
          <a class="list-icons-item action-edit rounded-btn">
            <i nz-tooltip nzTooltipTitle="Cập nhật" nz-icon nzType="edit" nzTheme="outline"></i>
          </a>

          <a class="list-icons-item action-delete rounded-btn p-2">
            <i nz-tooltip nzTooltipTitle="Check-out" nz-icon nzType="logout" nzTheme="outline"></i>
          </a>
        </div>
      </div>
    </div>

    <div *ngIf="false" class="resident-list">
      <div class="resident-item" *ngFor="let resident of []">
        <div class="item-name">
          <i class="mr-1" [ngClass]="{ 'isax-man1': true, 'isax-woman1': false }"></i>
          {{ resident?.fullName?.toUpperCase() }}
        </div>
        <div class="item-data">
          <div class="name">
            <i class="isax-card-tick-1 mr-1"></i>
            {{ resident.identityNo }}
          </div>
        </div>
        <div class="item-data">
          <div class="name">
            <i class="isax-call-calling mr-1"></i>
            {{ resident.phoneNumber }}
          </div>
          <div class="birth">
            <i class="isax-cake1 mr-1"></i>
            {{ resident.dateOfBirth | dateFormat }}
          </div>
        </div>
        <div class="check-in-out">
          <div class="check-in">
            <div class="day">
              {{ resident?.checkInTime | dateFormat }}
            </div>
            <div class="hour">
              {{ resident?.checkInTime | datetimeFormat : "HH:mm" }}
            </div>
          </div>
          <div class="check-space">-</div>
          <div class="check-out">
            <div class="day">
              {{ resident?.checkOutTime | dateFormat }}
            </div>
            <div class="hour">
              {{ resident?.checkOutTime | datetimeFormat : "HH:mm" }}
            </div>
          </div>
        </div>
        <div class="item-action">
          <button class="btn btn-success" nz-tooltip nzTooltipTitle="Chỉnh sửa">
            <i class="isax-edit1"></i>
          </button>
        </div>
      </div>
    </div> -->
  </div>

  <div class="room-money">
    <div class="title-group2 mt-2">
      <div class="title-label2"><i class="isax-card-slash1"></i> Dịch vụ</div>
      <div class="title-control2">
        <span class="mr-2"></span>
        <span class="mt-1 float-right cursor-pointer color-primary" nz-icon nzType="plus-circle" nzTheme="fill" (click)="hanldeOpenTabService()"></span>
      </div>
    </div>

    <!-- <nz-collapse>
      <nz-collapse-panel class="has-icon my-2" [ngClass]="" [nzHeader]="'Dịch vụ'">
        <i class="isax-card-slash1"></i>
        <div class="point-target" id="panel1"></div>
      </nz-collapse-panel>
    </nz-collapse> -->

    <div class="d-flex justify-content-between w-100">
      <div class="name-service-container">
      </div>
      <div class="amount-container">
        <div class="original">
        </div>
        <div class="replacement">
          <i class="isax-edit-21 mr-2 edit"></i>
          <i class="isax-trash del"></i>
        </div>
      </div>
    </div>

    <div class="title-group2 mt-2">
      <div class="title-label2">
        <i class="isax-card-slash1"></i> Phát sinh
      </div>
      <div class="title-control2">
        <span class="mr-2"></span>
        <span class="mt-1 float-right cursor-pointer color-primary" nz-icon nzType="plus-circle" nzTheme="fill"></span>
      </div>
    </div>
    <div class="d-flex justify-content-between w-100">
      <div class="name-service-container">
      </div>
      <div class="amount-container">
        <div class="original">
        </div>
        <div class="replacement">
          <i class="isax-edit-21 mr-2 edit"></i>
          <i class="isax-trash del"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="list-control-footer">
  <button nz-button type="button" class="btn btn-default mr-2" (click)="shareData.closeDialog()">
    <i nz-icon nzType="close" nzTheme="outline"></i>Đóng
  </button>
</div>
