<div class="content-data">
  <div class="list-room">
    <ul nz-menu nzMode="inline" style="height: 400px; overflow: auto;">
      <!-- <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 5 }"></nz-skeleton> -->
      <li nz-menu-item [nzSelected]="true">
        {{shareData.item.typeName}} - Phòng {{shareData.item.roomNumber}}
        <span class="m-2 text-danger"></span>
      </li>
    </ul>
    <button nz-button type="button" class="btn btn-default" style="margin-top: 10px;">
      Tự Động Chia Phòng
    </button>
  </div>

  <div class="room-data">
    <div class="title-group">
      <div class="title-label">
        <i class="isax-house-21"></i> Thông tin phòng
        {{shareData.item.roomNumber}}
      </div>
      <div class="title-control">
        <!-- <div class="d-flex">
          <input-select style="width: 150px; margin-right: 8px" placeholder="Chọn loại phòng"
            [allowClear]="false"></input-select>
          <input-select style="width: 130px" placeholder="Chọn phòng"></input-select>
          <a class="cancel">
            <span nz-tooltip nzTooltipTitle="Hủy phòng" class="isax-trash1"></span>
          </a>
        </div> -->
        <button type="button" class="btn btn-primary" (click)="onChangeRoom()">
          <span nz-icon nzType="sync" nzTheme="outline" class="mr-2"></span>Đổi phòng
        </button>

        <button type="button" class="btn btn-primary ml-2" (click)="handleOutRoom()">
          <span nz-icon nzType="logout" nzTheme="outline" class="mr-2"></span>Trả phòng
        </button>
      </div>
    </div>
    <div class="check-in-out my-2">
      <div class="check-in">
        <i class="isax-calendar-tick1 mr-1"></i>
        Nhận phòng: {{ shareData.item.checkInTxt }}
      </div>
      <ng-container>
        <div class="check-space">
          <i class="isax-arrow-right1"></i>
        </div>
        <div class="check-out">
          <i class="isax-calendar-remove1 mr-1"></i>Trả phòng:
          {{ shareData.item.checkOutTxt }}
        </div>
      </ng-container>
    </div>

    <div class="money-flex my-2 d-flex justify-content-between">
      <div>
        <i class="isax-money-recive1 mr-1"></i>
        <span>Tiền phòng: {{ roomAmount | moneyFormat }}</span>
      </div>
      <div>
        <i class="isax-money-recive1 mr-1"></i>
        <span>Tiền phòng dự tính:
          {{ roomAmount | moneyFormat }}</span>
      </div>
    </div>

    <div class="my-2">
      <i class="isax-profile-2user1 mr-1"></i>
      <span class="fw-500">
        Có {{shareData.item.totalGuests}}/{{shareData.item.numberOfPeople}} Khách trong phòng
      </span>

      <button type="button" class="btn btn-default add-resident float-right"
        *ngIf="shareData.item.totalGuests < shareData.item.numberOfPeople" (click)="hanldeOpenDialog()">
        <i class="isax-add-circle1 mr-2"></i>Thêm khách
      </button>
    </div>

    <div class="ux-pc">
      <app-table [items]="shareData.listGuest" [columns]="columns">
        <ng-template [appCellTemplate]="'identity'" let-item>
          {{ item.name }} - {{ item.phoneNumber }}
        </ng-template>
        <ng-template [appCellTemplate]="'action'" let-item>
          <a>
            <span nz-tooltip nzTooltipTitle="Cập nhật" class="isax-edit-21 text-primary"
              (click)="hanldeOpenDialog(item, 'edit')"></span>
          </a>

          <a class="p-2">
            <span nz-tooltip nzTooltipTitle="Trả phòng" class="isax-logout1 text-primary" (click)="handleGuestOutRoom(item)"></span>
          </a>
        </ng-template>
      </app-table>
    </div>
  </div>

  <div class="room-money">
    <div class="title-group2 mt-2">
      <div class="title-label2"><i class="isax-card-slash1"></i> Dịch vụ</div>
      <div class="title-control2">
        <span class="mr-2"></span>
        <span class="mt-1 float-right cursor-pointer color-primary" nz-icon nzType="plus-circle" nzTheme="fill"
          (click)="hanldeOpenTabService()"></span>
      </div>
    </div>

    <div class="resident-list" *ngIf="listService.length">
      <div class="resident-item selected d-flex justify-content-between" *ngFor="let item of listService">
        <div class="name">
          {{item.catName}}: {{item.serviceName}}
        </div>
        <div class="birth">
          {{item.price | moneyFormat}} VNĐ
        </div>
      </div>
    </div>
  </div>
</div>

<div class="list-control-footer">
  <button nz-button type="button" class="btn btn-default mr-2" (click)="shareData.closeDialog()">
    <i nz-icon nzType="close" nzTheme="outline"></i>Đóng
  </button>
</div>