<button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="close()">
    <span class="ant-modal-close-x">
        <i nz-icon nzType="close" nzTheme="outline" class="anticon ant-modal-close-icon anticon-close"></i>
    </span>
</button>
<form [formGroup]="myForm">
    <div class="row">
        <div class="col-md-4">
            <div class="bill-summary">
                <h3>Thông tin phòng</h3>
                <div class="title-group" *ngIf="listGuest.length">
                    <div class="title-label">
                        <i class="isax-house-21"></i> Danh sách khách
                    </div>
                </div>
                <div class="resident-list">
                    <div class="resident-item selected" *ngFor="let item of listGuest">
                        <div class="name">
                            <i class="mr-1" [ngClass]="{
                        'isax-man1': item.gender === 'Nam',
                        'isax-woman1': item.gender === 'Nữ'
                      }"></i>
                            {{ item.name.toUpperCase() ?? "Đang nhập thông tin khách..." }}
                        </div>
                        <div class="birth">
                            <i class="isax-cake1 mr-1"></i>
                            {{ item.birthDate | dateFormat }}
                        </div>
                    </div>
                </div>

                <div class="title-group" *ngIf="listService.length">
                    <div class="title-label">
                        <i class="isax-house-21"></i> Dịch vụ sử dụng
                    </div>
                </div>
                <div class="resident-list" *ngIf="listService.length">
                    <div class="resident-item selected d-flex justify-content-between" *ngFor="let item of listService">
                        <div class="name">
                            {{item.catName}}: {{item.serviceName}}
                        </div>
                        <div class="birth">
                            {{item.price | moneyFormat}} VNĐ
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="bill-summary">
                <h3>Phương thức thanh toán</h3>
                <div class="payment-methods">
                    <div *ngFor="let method of shareData.paymentMethod" class="payment-method"
                        [class.selected]="selectedPayment === method.value" (click)="handleChangeMethod(method.value)">
                        <img src="data:image/png;base64,{{method.icon}}" [alt]="method.label">
                        <span>{{method.label}}</span>
                    </div>
                </div>

                <div class="qr-code text-center" *ngIf="qrCode">
                    <img src="data:image/png;base64,{{ qrCode }}" style="width: 220px; height: 220px" alt="qrCode" />
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="bill-summary" id="bill-summary">
                <h3>Hóa đơn</h3>
                <div class="pay-data">
                    <div class="bill-items">
                        <div class="bill-item">
                            <span>Tổng tiền phòng</span>
                            <span><strong>{{ roomAmount | moneyFormat }} </strong> VNĐ</span>
                        </div>
                        <div class="bill-item">
                            <span>Thuế (10%)</span>
                            <span><strong>{{ vatAmount | moneyFormat }} </strong> VNĐ</span>
                        </div>
                        <div class="bill-item">
                            <span>Trả trước</span>
                            <span><strong>{{ prepaid | moneyFormat }} </strong> VNĐ</span>
                        </div>
                        <div class="bill-item">
                            <span>Phí chuyển phòng</span>
                            <span><strong>{{ roomChangeFee | moneyFormat }} </strong> VNĐ</span>
                        </div>
                        <div class="bill-item">
                            <span>Tổng tiền dịch vụ</span>
                            <span><strong>{{ totalMoneyService | moneyFormat }} </strong> VNĐ</span>
                        </div>
                        <div class="bill-item">
                            <span>Phụ phí</span>
                            <span><app-form-control>
                                    <input-number (onChange)="onAdditionalFee()"
                                        formControlName="additionalFee"></input-number>
                                </app-form-control>
                            </span>
                        </div>
                        <div class="bill-item">
                            <span>Còn lại</span>
                            <span><strong>{{ remainingAmount | moneyFormat }}</strong> VNĐ</span>
                        </div>

                        <div class="pt-1">
                            <span>
                                Cần thanh toán
                            </span>
                            <span>
                                <strong>{{ remainingAmount | moneyFormat }} </strong> VNĐ
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>


<div class="list-control-search">
    <button nz-button type="button" class="btn btn-default" (click)="close()">
        <i nz-icon nzType="close" nzTheme="outline"></i>
        Đóng
    </button>
    <button nz-button type="button" class="btn btn-primary" (click)="handlePaymentSuccess()">
        <i nz-icon nzType="save" nzTheme="outline"></i>
        Trả phòng
    </button>

    <!-- <button nz-button type="button" class="btn btn-warning" (click)="exportToPDF()">
        <i nz-icon nzType="save" nzTheme="outline"></i>
        Xuất hóa đơn
    </button> -->
</div>