<button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="close()">
    <span class="ant-modal-close-x">
        <i nz-icon nzType="close" nzTheme="outline" class="anticon ant-modal-close-icon anticon-close"></i>
    </span>
</button>
<form [formGroup]="myForm">
    <div class="row">
        <div class="col-md-4">
            <div class="customer-list">
                <div class="title-group">
                    <div class="title-label">
                        <i class="isax-house-21"></i> Danh sách khách
                    </div>
                </div>

                <div class="resident-list">
                    <div class="resident-item selected" *ngFor="let item of listGuest">
                        <div class="name">
                            <i class="mr-1" [ngClass]="{
                        'isax-man1': item.gender === 'Nam',
                        'isax-woman1': item.gender === 'Nữ'
                      }"></i>
                            {{ item.name.toUpperCase() ?? "Đang nhập thông tin khách..." }}
                        </div>
                        <div class="birth">
                            <i class="isax-cake1 mr-1"></i>
                            {{ item.birthDate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="customer-list">
                <div class="title-group">
                    <div class="title-label">
                        <i class="isax-house-21"></i> Phương thức thanh toán
                    </div>
                </div>
                <div class="resident-list mt-1">

                    <nz-form-item>
                        <!-- <nz-form-label [nzRequired]="false">Phương thức thanh toán</nz-form-label> -->
                        <nz-form-control>
                            <input-select [items]="shareData.paymentMethod" formControlName="paymentMethod"
                                (onChange)="handleChangeMethod()">

                            </input-select>
                        </nz-form-control>
                    </nz-form-item>

                    <div class="qr-code text-center" *ngIf="qrCode">
                        <img src="data:image/png;base64,{{ qrCode }}" style="width: 220px; height: 220px"
                            alt="qrCode" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="title-group">
                <div class="title-label">
                    <i class="isax-house-21"></i> Hóa đơn
                </div>
            </div>
            <div class="card my-2">
                <h1>Hóa đơn</h1>
                <div class="pay-data">
                    <div class="pay-item">
                        <div class="name">Tổng tiền phòng</div>
                        <div class="value">
                            <strong>{{ roomAmount | moneyFormat }} </strong> VNĐ
                        </div>
                    </div>
                    <div class="pay-item">
                        <div class="name">Thuế (10%)</div>
                        <div class="value">
                            <strong>{{ vatAmount | moneyFormat }} </strong> VNĐ
                        </div>
                    </div>

                    <div class="pay-item">
                        <div class="name">Trả trước</div>
                        <div class="value">
                            <app-form-control>
                                <input-number (onChange)="onPrepayment()" formControlName="prepayment"></input-number>
                            </app-form-control>
                        </div>
                    </div>
                    <div class="pay-item">
                        <div class="name">Cần thanh toán</div>
                        <div class="value">
                            <strong>{{ remainingAmount | moneyFormat }} </strong> VNĐ
                        </div>
                    </div>
                </div>
                <div class="return-money">
                    <div class="name">Còn lại</div>
                    <div class="value">
                        <strong>{{ remainingAmount | moneyFormat }}</strong>VNĐ
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="list-control-search">
    <button nz-button type="button" class="btn btn-default" (click)="close()">
        <i nz-icon nzType="close" nzTheme="outline"></i>
        Đóng
    </button>
    <button nz-button type="button" class="btn btn-primary" (click)="handlePaymentSuccess()">
        <i nz-icon nzType="save" nzTheme="outline"></i>
        Trả phòng
    </button>
</div>