<div class="page-header page-header-light">
  <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
    <div class="d-flex">
      <div class="breadcrumb-title">Thay đổi mật khẩu</div>
      <div class="breadcrumb">
        <div class="list-control-main"></div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <form [formGroup]="myForm">
    <ng-template #controlErrorTpl let-control>
      <app-render-errors [control]="control"></app-render-errors>
    </ng-template>
    <div class="row">
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label [nzRequired]="false">Tài khoản</nz-form-label>
          <nz-form-control [nzErrorTip]="controlErrorTpl">
            <input-text placeholder="" formControlName="username"></input-text>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label [nzRequired]="false">Mật khẩu cũ</nz-form-label>
          <nz-form-control [nzErrorTip]="controlErrorTpl">
            <input-password
              formControlName="currentPassword"
              placeholder="**********"
            ></input-password>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label [nzRequired]="false">Mật khẩu mới</nz-form-label>
          <nz-form-control [nzErrorTip]="controlErrorTpl">
            <input-password
              placeholder="**********"
              formControlName="newPassword"
            >
            </input-password>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label [nzRequired]="false"
            >Xác nhận lại mật khẩu mới</nz-form-label
          >
          <nz-form-control [nzErrorTip]="controlErrorTpl">
            <input-password
              placeholder="**********"
              formControlName="newPasswordConfirm"
            >
            </input-password>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>

<div class="list-control-search">
  <button nz-button type="button" class="btn btn-primary" (click)="saveData()">
    <i class="icon-plus-circle2 mr-2"></i>Đổi mật khẩu
  </button>
</div>
