<div id="html-body-bottom"></div>
<div class="navbar navbar-expand-lg navbar-light">
  <div class="text-center d-lg-none w-100">
    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
      <i class="icon-unfold mr-2"></i>
    </button>
  </div>

  <div class="navbar-collapse collapse" id="navbar-footer">
    <span class="navbar-text">
      &copy; 2020 - 2021 <a href="#"></a>
      <ng-content></ng-content>
    </span>
    <!-- <div class="sv-status">
      <span class="sv">Hệ thống Background: <a href="#">Online</a></span>
      <span class="sv">Hệ thống Mobile: <a href="#">Online</a></span>
    </div> -->
  </div>
</div>
