<button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="closeDialog()">
  <span class="ant-modal-close-x">
    <i nz-icon nzType="close" nzTheme="outline" class="anticon ant-modal-close-icon anticon-close"></i>
  </span>
</button>

<img [src]="url" [ngStyle]="{ width: '100%' }" />


<div class="row mt-2">
  <div class="col-md-12 text-center">
      <button nz-button class="btn btn-light" (click)="closeDialog()">
        <i class="isax-close-circle1 mr-2"></i> Đóng
      </button>
  </div>
</div>
