input-date-dynamic {
  width: 100%;
  display: block;

  nz-date-picker {
    width: 30px;
    position: absolute !important;
    z-index: 100;
    opacity: 0;
    top: 0;
    right: -30px;
    cursor: pointer;
  }

  nz-select {
    nz-select-top-control {
      padding: 0 !important;
      padding-left: 5px !important;
    }

    .ant-select-arrow {
      right: 4px;
      width: 10px;
      height: 10px;
      margin-top: -5px;
      font-size: 10px;
    }
  }

  .ant-input-wrapper {
    >span[nz-input-group-slot] {
      &:first-child {
        width: 60px;
        padding: 0;
      }

      &:last-child {
        width: 30px;
        padding: 0;
      }
    }
  }

  &.view {
    nz-input-group {
      border: none;
      background: none;

      .ant-input-disabled,
      .ant-input[disabled] {
        background-color: rgb(255 255 255 / 0%) !important;
      }
    }
  }
}
