<div class="page-header page-header-light">
  <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
    <div class="d-flex">
      <div class="d-flex">
        <div class="breadcrumb-title">Sơ đồ phòng</div>
      </div>
      <div class="d-flex hd-room">
        <div class="breadcrumb-title ">
          <nz-segmented [nzOptions]="viewOptions" [ngModel]="[0]"
            (nzValueChange)="onViewSelectedChange($event)"></nz-segmented>

          <div class="chon-tang">
            <input-select-api [apiService]="floorService" placeholder="Tầng..."></input-select-api>
          </div>

          <ng-container>
            <div class="mo-ta">
              <div class="status">
                <input-check-box formControlName="status">
                  <span class="available">Phòng trống: </span> 
                </input-check-box>
              </div>
            </div>

            <div class="mo-ta">
              <div class="status">
                <input-check-box formControlName="status">
                  <span class="occupied">Đang ở: </span> 
                </input-check-box>
              </div>
            </div>

            <div class="mo-ta">
              <div class="phong-ban">
                <input-check-box formControlName="status">
                  <span class="cleaning">Cần dọn: </span> 
                </input-check-box>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="breadcrumb">
          <div class="list-control-main"></div>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <div class="breadcrumb">
          <button nz-button type="button" class="btn btn-primary" (click)="handlerOpenDialog()">
            Nhận phòng nhanh
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hotel-management" style="background-color: #ccc6;">
  <div class="main-interface">
    <div class="floors-container">
      <div *ngFor="let floor of listFloor" class="floor">
        <div class="title">
          <div class="name">
            Tầng {{floor.floorNumber}}
          </div>
        </div>
        <div class="rooms-grid shadow-lg p-4">
          <div *ngFor="let room of floor.rooms" class="room"
            [ngClass]="{'available': room.status === 1, 'occupied': room.status === 2, 'cleaning': room.status === 3}"
            (click)="room.status !== 2 ? handlerOpenDialog(room) : null">
            <div class="room-left">
              <h5 class="text-center mt-2" style="font-weight: 700;">Phòng {{room.roomNumber}}</h5>
              <p class="text-center" style="font-weight: 600;">
                {{room.typeName}}
              </p>

              <span class="mt-2 ml-2" *ngIf="room.status === 2">{{room.status | labelValue: listRoomStatus}}</span>

              <p class="mb-2 float-right">
                <span nz-icon nzType="user" nzTheme="outline"></span>
                {{room.totalGuests}}/{{room.numberOfPeople}}
              </p>
            </div>

            <div class="room-right text-center">
              <p class="mt-2" *ngIf="room.status === 1">{{room.status | labelValue: listRoomStatus}}</p>

              <div class="d-flex" *ngIf="room.status === 2">
                <div *ngIf="room.room_using_guest && room.room_using_guest.length > 0" class="mx-auto">
                  <p class="mt-2 mb-0" style="font-weight: 700;">{{ room.room_using_guest[0].name }}</p>
                </div>
              </div>

              <div class="d-flex mt-4" *ngIf="room.status === 2">
                <div class="col">
                  <p class="m-0">{{room.checkIn | dateFormat}}</p>
                  <p class="m-0">{{room.checkIn | datetimeFormat : "HH:mm"}}</p>
                </div>

                <div class="col">
                  <p class="m-0">{{room.checkOut | dateFormat}}</p>
                  <p class="m-0">{{room.checkOut | datetimeFormat : "HH:mm"}}</p>
                </div>
              </div>
              <button *ngIf="room.status === 1" class="book-room-btn">Nhận phòng</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>