<div class="page-header page-header-light">
  <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
    <div class="d-flex">
      <div class="breadcrumb-title">THỐNG KÊ LOẠI PHÒNG</div>
      <div class="breadcrumb">
        <div class="list-control-main"></div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="header-elements-inline">
    <div class="navbar-expand-md w-100">
      <!-- search -->
      <div class="navbar-collapse collapse" id="search-list">
        <form
          [formGroup]="formSearch"
          class="w-100"
          (ngSubmit)="getTotalRoomsByHotel()"
        >
        <div class="row align-items-center">
          <div class="col-md-4">
            <nz-form-item>
              <nz-form-label>Loại biểu đồ</nz-form-label>
              <nz-form-control>
                <input-select
                  [items]="listChartType"
                  formControlName="chartType"
                  [(ngModel)]="chartType"
                  (onChange)="renderChart(chartType)">
                </input-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-4 text-center">
            <!-- <button nz-button type="submit" class="btn btn-primary mx-2">
              <span nz-icon nzType="search" nzTheme="outline"></span> Tìm kiếm
            </button> -->
            <!-- <button nz-button type="button" class="btn btn-success mx-2" (click)="handleExportExcel()">
              <span nz-icon nzType="file-excel" nzTheme="outline"></span> Kết xuất
            </button> -->
          </div>
        </div>


        </form>
      </div>
    </div>
  </div>

  <div class="min-h-screen bg-gradient-to-br from-blue-50 to-blue-100 p-6">
    <div class="max-w-7xl mx-auto bg-white rounded-xl shadow-lg p-6">
      <div
        *ngIf="error"
        class="mb-6 p-4 bg-red-100 text-red-700 rounded-lg"
        role="alert"
      >
        {{ error }}
      </div>
      <div class="bg-white p-6 rounded-xl shadow-inner">
        <div *ngIf="loading" class="flex justify-center items-center h-[400px]">
          <div
            class="animate-spin rounded-full h-12 w-12 border-b-2 border-blue-500"
          ></div>
        </div>
        <div *ngIf="!loading">
          <canvas
            *ngIf="chartType === 'bar'"
            baseChart
            [data]="chartData"
            [options]="options"
            [type]="'bar'"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
